{% extends 'base_generic_website.html' %}
{% load static %}

{% block scripts %}
{% endblock scripts %}


{% block content %}
{% include 'includes/website_parts/navigation.html' %}
<div id="page-content">
  <main id="main">
    <section id="contact-sales-home-banner" class="home-banner">
      <div class="container-fluid max-width-container">

        <div class="row">
          <div class="col-lg-6 title-p-cta">
            <h1>Spreadsheets slowing you down?</h1>
            <p class="description-text">
              Nova One allows you to painlessly keep track of your budget
              and effortlessly stay on top of rehab projects.
            </p>
            <ul class="list-group">
              <li class="list-group-item"><i class="far fa-thumbs-up"></i>Stress-free project management</li>
              <li class="list-group-item"><i class="far fa-thumbs-up"></i>Text message alerts</li>
              <li class="list-group-item"><i class="far fa-thumbs-up"></i>Easy expense tracking</li>
              <li class="list-group-item"><i class="far fa-thumbs-up"></i>Automatic budget tracking</li>
              <li class="list-group-item"><i class="far fa-thumbs-up"></i>Free live support</li>
            </ul>
          </div>
          <div class="col-lg-6">
            <form id="contact-sales-form" class="standard-webiste-form" action="" method="post">
              {% csrf_token %}
              <div class="form-intro">
                <h2>See A Live Demo Now!</h2>
                <p>
                  See how Nova One can help
                  you easily manage your rehab projects.
                </p>
              </div>

              {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if form.errors %}
                <div class="form-messages">
                  <p>Please enter in all data and try again.</p>
                </div>
              {% endif %}

              {{ contact_sales_form }}
              <input class="standard-btn" type="submit" value="See Demo Now!">
              <div class="form-description">
                <p>
                  By clicking “See Demo Now!”, you agree to receive more
                  information about the Nova One Software Service.
                </p>
              </div>
            </form>
          </div>
        </div>

      </div>

    </section>
  </main>
</div>

{% include 'includes/website_parts/footer.html' %}
{% endblock content %}
