{% load static %}

<footer>
  <div class="container-fluid max-width-container">

    <nav class="footer-nav">
      <ul class="footer-nav-menu list-inline">
        <li class="footer-nav-menu-item list-inline-item">
          <a href="{% url 'website:home' %}">Home</a>
        </li>
        <!-- <li class="footer-nav-menu-item list-inline-item">
          <a href="{% url 'website:product' %}">Product</a>
        </li> -->
        <li class="footer-nav-menu-item list-inline-item">
          <a href="{% url 'website:contact_sales' %}">Demo</a>
        </li>
        <li class="footer-nav-menu-item list-inline-item">
          <a href="{% url 'login' %}">Log In</a>
        </li>
        <li class="footer-nav-menu-item list-inline-item">
          <a href="{% url 'website:privacy_policy' %}">Privacy</a>
        </li>
        <li class="footer-nav-menu-item list-inline-item">
          <a href="{% url 'website:terms_and_conditions' %}">Terms &amp; Conditions</a>
        </li>
      </ul>
      <div class="logo-container">
        <img src="{% static 'website/images/nova-one-logo.png' %}" alt="Nova One Software">
      </div>
      <p class="copyright">Copyright &copy; <script>document.write(new Date().getFullYear())</script> NovaOne</p>
    </nav>
  </div>
</footer>
