{% extends 'website/base_generic_website.html' %}
{% load static %}

{% block scripts %}
{% endblock scripts %}


{% block content %}
<div id="page-content">
  <main id="main">
    <section class="home-banner">
      <div class="container-fluid max-width-container">

        <div class="row">
          <div class="col-lg-6 title-p-cta">
            <h1>The Easiest, Fastest Way to Manage Your Rental Leads</h1>
            <p class="description-text">
              Automated lead contact, lead qualification, and appointment scheduling.
              Stress-free, automated lead tracking.
            </p>
            <a href="{% url 'customer_register:customer-register' %}" class="standard-btn">Try It For Free</a>
            <div class="description">
              <p>Already on Nova One? <a href="/accounts/login">Log in</a></p>
            </div>
          </div>
          <figure class="col-lg-6">
            <img src="{% static 'website/images/house-for-rent.png' %}" alt="Construction Workers">
          </figure>
        </div>

      </div>

    </section>

    <section class="counters">
      <div class="container-fluid full-width-container">
        <div class="row">
          <div class="counter col-md-4">
              <span class="text-above">More Than</span>
              <div class="number-wrap">
                <span class="number" data-count-params='{"num_begin": 0, "num_end":100,"duration":1500}'>100</span>
              </div>
              <span class="text-below">Possibilities</span>
          </div>
          <div class="counter col-md-4">
              <span class="text-above">Over</span>
              <div class="number-wrap">
                <span class="number" data-count-params='{"num_begin": 0, "num_end":500,"duration":400}'>500</span><span class="number-suffix">+</span>
              </div>
              <span class="text-below">Rental Properties Tracked</span>
          </div>
          <div class="counter col-md-4">
              <span class="text-above">More Than</span>
              <div class="number-wrap">
                <span class="number" data-count-params='{"num_begin": 0, "num_end":400,"duration":800}'>400</span><span class="number-suffix">+</span>
              </div>
              <span class="text-below">Leads Qualified</span>
          </div>
        </div>
      </div>
    </section>

    <section class="home-second page-section">
      <div class="container-fluid max-width-container">
        <div class="row">

          <div class="col-12">
            <h1 class="p1">
              "NovaOne has expedited our lead process, allowing us to rent to leads before our competitors do."
            </h1>
            <p class="ps-text">
              This is a comment from one of our customers, which we hear <i>a lot</i>.
            </p>
            <p class="description-text">
              Your rental business runs on time, and every minute counts. NovaOne helps you
              stay ahead of the curve by automating tasks.
            </p>
            <p>
              <a href="{% url 'customer_register:customer-register' %}" class="standard-btn">Join For Free</a>
            </p>
          </div>

          <div class="col-12 selling-points">
            <div class="row">

              <div class="col-md icon-title-description">
                <div class="icon">
                  <img src="{% static 'website/images/checklist.png' %}" alt="Checklist">
                </div>
                <h4>Manage</h4>
                <p>
                  Hands-off tracking of incoming leads
                </p>
              </div>

              <div class="col-md icon-title-description">
                <div class="icon">
                  <img src="{% static 'website/images/notification-bell.png' %}" alt="Notification Bell">
                </div>
                <h4>Alerts</h4>
                <p>
                  Recieve SMS and email alerts when qualified leads make appointments
                </p>
              </div>

              <div class="col-md icon-title-description">
                <div class="icon">
                  <img src="{% static 'website/images/organize.png' %}" alt="Organize Diagram">
                </div>
                <h4>24/7 Automated Contact</h4>
                <p>
                  Let NovaOne effortlessly contact and qualify leads for you 24/7
                </p>
              </div>

              <div class="col-md icon-title-description">
                <div class="icon">
                  <img src="{% static 'website/images/house.png' %}" alt="House">
                </div>
                <h4>Automated Scheduling</h4>
                <p>
                  Frustration-free appointment scheduling: set your showing
                  schedule and NovaOne does the rest
                </p>
              </div>

            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="home-solutions page-section">
      <div class="container-fluid max-width-container">
        <div class="row">

          <div class="col-12 home-solutions-intro">
            <div class="page-section-title-with-text">
              <h2>
                See How NovaOne Can Help You
              </h2>
              <p class="description-text">
                Watch the video below to see how NovaOne
                can help you easily stay on top of your projects.
              </p>
            </div>
          </div>

          <div class="home-solutions-columns">
            <div class="row">
              <div class="col-lg-7">
                <div class="video-container">
                  <video autoplay playsinline muted loop poster="{% static 'website/images/novaone-video-poster.png' %}" width="100%" height="auto">
										<source src="{% static 'website/videos/novaone.mp4' %}" type="video/mp4">
									</video>
                </div>
              </div>
              <div class="col-lg-5 home-solutions-items">
                <div class="row">
                  <div class="col-md-4 col-lg-12 item-with-title-p">
                    <h4><i class="fas fa-rocket"></i>Rent Faster</h4>
                    <p>NovaOne works all day 7 days a week to make sure your property gets rented.</p>
                  </div>
                  <div class="col-md-4 col-lg-12 item-with-title-p">
                    <h4><i class="fas fa-robot"></i>Automate Qualification</h4>
                    <p>Painlessly pre-qualify tenants automatically with NovaOne.</p>
                  </div>
                  <div class="col-md-4 col-lg-12 item-with-title-p">
                    <h4><i class="far fa-calendar-alt"></i>Reduce No-Shows</h4>
                    <p>Effortlessly reduce appointment no-shows with NovaOne.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="home-sign-up page-section">
      <div class="container-fluid max-width-container">
        <div class="row">
          <div class="col-md-12">
            <img src="{% static 'website/images/agreement.png' %}" alt="Sign Up">
            <h2>Sign Up Free</h2>
            <p class="description-text">
              Sign up for free today and get all features, free updates, and unparalleled support.
            </p>
            <a href="{% url 'customer_register:customer-register' %}" class="standard-btn">Start For Free</a>
          </div>
        </div>
      </div>
    </section>

  </main>
</div>
{% endblock content %}
