{% extends 'website/base_generic_website.html' %}
{% load static %}

{% block scripts %}
{% endblock scripts %}


{% block content %}
{% include 'website/navigation.html' %}

<div id="page-content">
  <main id="main">
    <section class="home-banner">
      <div class="container-fluid max-width-container">

        <div class="row">
          <div class="col-lg-6 title-p-cta">
            <h1>The Easiest, Fastest Way to Manage Your Rehab Projects</h1>
            <p class="description-text">
              Painlessly keep track of your budget, easily manage invoices, and
              effortlessly stay on top of rehab projects.
            </p>
            <a href="/customer-register" class="standard-btn">Try It For Free</a>
            <div class="description">
              <p>Already on Nova One? <a href="/accounts/login">Log in</a></p>
            </div>
          </div>
          <figure class="col-lg-6">
            <img src="{% static 'website/images/construction-workers.jpg' %}" alt="Construction Workers">
          </figure>
        </div>

      </div>

    </section>

    <section class="counters">
      <div class="container-fluid full-width-container">
        <div class="row">
          <div class="counter col-md-4">
              <span class="text-above">More Than</span>
              <div class="number-wrap">
                <span class="number" data-count-params='{"num_begin": 0, "num_end":100,"duration":1500}'>100</span>
              </div>
              <span class="text-below">Possibilities</span>
          </div>
          <div class="counter col-md-4">
              <span class="text-above">Over</span>
              <div class="number-wrap">
                <span class="number" data-count-params='{"num_begin": 0, "num_end":6,"duration":1500}'>6</span>
              </div>
              <span class="text-below">Million Dollars Tracked</span>
          </div>
          <div class="counter col-md-4">
              <span class="text-above">More Than</span>
              <div class="number-wrap">
                <span class="number" data-count-params='{"num_begin": 0, "num_end":30,"duration":1500}'>30</span>
              </div>
              <span class="text-below">Projects Tracked</span>
          </div>
        </div>
      </div>
    </section>

    <section class="home-second page-section">
      <div class="container-fluid max-width-container">
        <div class="row">

          <div class="col-12">
            <h1 class="p1">
              "Nova One has helped us stay on top of our budget, allowing us to ensure a profit."
            </h1>
            <p class="ps-text">
              This is a comment from one of our customers, which we hear <i>a lot</i>.
            </p>
            <p class="description-text">
              Your business runs on time, and every minute counts. Nova One helps you
              stay ahead of the curve by automating tasks.
            </p>
            <p>
              <a href="/product">Product Overview <i class="fas fa-arrow-right"></i></a>
            </p>
          </div>

          <div class="col-12 selling-points">
            <div class="row">

              <div class="col-md icon-title-description">
                <div class="icon">
                  <img src="{% static 'website/images/checklist.png' %}" alt="Checklist">
                </div>
                <h4>Manage</h4>
                <p>
                  Easily keep track of jobs and payments
                </p>
              </div>

              <div class="col-md icon-title-description">
                <div class="icon">
                  <img src="{% static 'website/images/notification-bell.png' %}" alt="Notification Bell">
                </div>
                <h4>Alerts</h4>
                <p>
                  Get SMS alerts to effortlessly stay on top of your projects
                </p>
              </div>

              <div class="col-md icon-title-description">
                <div class="icon">
                  <img src="{% static 'website/images/organize.png' %}" alt="Organize Diagram">
                </div>
                <h4>Organize</h4>
                <p>
                  Painlessly have all your expenses, jobs, and payments organized by Nova One
                </p>
              </div>

              <div class="col-md icon-title-description">
                <div class="icon">
                  <img src="{% static 'website/images/house.png' %}" alt="House">
                </div>
                <h4>Projects</h4>
                <p>
                  Frustration-free project tracking: track budgets, jobs, and expenses
                  for each project
                </p>
              </div>

            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="home-solutions page-section">
      <div class="container-fluid max-width-container">
        <div class="row">

          <div class="col-12 home-solutions-intro">
            <h2>
              See How Nova One Can Help You
            </h2>
            <p class="description-text">
              Watch the video below to see how Nova One
              can help you easily stay on top of your projects.
            </p>
          </div>

          <div class="home-solutions-columns">
            <div class="row">
              <div class="col-lg-7">
                <div class="video-container">
                  <video autoplay playsinline muted loop poster="{% static 'website/images/novaone-video-poster.png' %}" width="100%" height="auto">
										<source src="{% static 'website/videos/novaone.mp4' %}" type="video/mp4">
									</video>
                </div>
              </div>
              <div class="col-lg-5 home-solutions-items">
                <div class="row">
                  <div class="col-md-4 col-lg-12 item-with-title-p">
                    <h4>Organize Projects</h4>
                    <p>Painlessly keep track of all your projects with automation.</p>
                  </div>
                  <div class="col-md-4 col-lg-12 item-with-title-p">
                    <h4>Track Expenses</h4>
                    <p>Easily track expenses without any hassles or frustration.</p>
                  </div>
                  <div class="col-md-4 col-lg-12 item-with-title-p">
                    <h4>Budget Tracking</h4>
                    <p>Effortlessly track how much you are spending on each project.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="home-team page-section">
      <div class="container-fluid max-width-container">
        <div class="row">
          <div class="col-md-7 home-team-content">
            <h2>More Than Just A Software</h3>
            <p class="description-text">
              You're in a good place. You really are.
              From day one of your sign up, you will
              get unparalleled support from our team
              of solution advisors. Our solution advisors
              aren't just software nerds. They are here
              to help you solve your problems and make life
              easier. Whether you need help learning how to
              use the product or just a person to lend an ear, our
              solution advisors are on call waiting for you.
            </p>
          </div>
          <div class="col-md-5 home-team-image">
            <img src="https://shortlist.co/wp-content/uploads/2019/03/ShortList_124_websize.jpg" alt="Andre Mashraghi">
            <h3>Andre</h3>
            <p>Solution Advisor</p>
          </div>
        </div>
      </div>
    </section>

    <section class="home-sign-up page-section">
      <div class="container-fluid max-width-container">
        <div class="row">
          <div class="col-md-12">
            <img src="{% static 'website/images/agreement.png' %}" alt="Sign Up">
            <h2>Sign Up Free</h2>
            <p class="description-text">
              Sign up for free today and get all features, free updates, and unparalleled support.
            </p>
            <a href="/customer-register" class="standard-btn">Try It For Free</a>
          </div>
        </div>
      </div>
    </section>

  </main>
</div>

{% include 'website/footer.html' %}
{% endblock content %}
