{% extends 'base_generic_website.html' %}
{% load static %}

{% block scripts %}
{% endblock scripts %}


{% block content %}
{% include 'includes/website_parts/navigation.html' %}

<div id="page-content">
  <main id="main">
    <section id="product-banner" class="home-banner">
      <div class="container-fluid max-width-container">

        <div class="row">
          <div class="col-lg-12 title-p-cta">
            <h1>All-in-one solution to Manage and Grow Your Real Estate Business</h1>
            <p class="description-text">
              Painlessly keep track of your budget, easily manage invoices, and
              effortlessly stay on top of rehab projects.
            </p>
          </div>
        </div>

        <div class="row">

          <div class="col-md icon-title-description">
            <div class="icon">
              <img src="{% static 'checklist.png' %}" alt="Checklist">
            </div>
            <h4>Manage</h4>
          </div>

          <div class="col-md icon-title-description">
            <div class="icon">
              <img src="{% static 'notification-bell.png' %}" alt="Notification Bell">
            </div>
            <h4>Alerts</h4>
          </div>

          <div class="col-md icon-title-description">
            <div class="icon">
              <img src="{% static 'organize.png' %}" alt="Organize Diagram">
            </div>
            <h4>Organize</h4>
          </div>

          <div class="col-md icon-title-description">
            <div class="icon">
              <img src="{% static 'house.png' %}" alt="House">
            </div>
            <h4>Projects</h4>
          </div>

        </div>

      </div>

    </section>

    <section class="product-features page-section">
      <div class="container-fluid max-width-container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="p1">
              Expand and organize your business!
            </h1>
            <p class="description-text">
              Nova One helps you easily track jobs and how much you spend for rehab projects.
            </p>
          </div>
        </div>
        <div class="row">
          <!-- Nav tabs -->
          <ul id="product-features-tab" class="nav nav-tabs justify-content-center" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="budget-tab" data-toggle="tab" href="#budget" role="tab" aria-controls="budget" aria-selected="true">Budget</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="track-jobs-tab" data-toggle="tab" href="#track-jobs" role="tab" aria-controls="track-jobs" aria-selected="false">Track Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="organization-tab" data-toggle="tab" href="#organization" role="tab" aria-controls="organization" aria-selected="false">Organization</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="budget" role="tabpanel" aria-labelledby="budget-tab">
              <div class="row">
                <div class="col-md">
                  <img src="{% static 'budget-tracking.png' %}" srcset="https://shortlist.co/wp-content/uploads/2018/10/Hiring-Pipelines@2x-1.png 2x">
                </div>
                <div class="col-md product-feature-description">
                  <h2>Painless Budget Tracking</h2>
                  <p>
                    Nova One automatically calculates the budget for each rehab project
                    based on the data you give it, so you can focus on more important things.
                  </p>
                  <p>
                    See how much of your budget has been spent, so you can effortlessly stay
                    on track with each project.
                  </p>
                  <p>
                    Know when you are approaching your budget or over budget with SMS alerts from Nova One.
                  </p>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="track-jobs" role="tabpanel" aria-labelledby="track-jobs-tab">
              <div class="row">
                <div class="col-md">
                  <img src="{% static 'job-tracking.png' %}" srcset="https://shortlist.co/wp-content/uploads/2018/10/Hiring-Pipelines@2x-1.png 2x">
                </div>
                <div class="col-md product-feature-description">
                  <h2>Tracking jobs is easy</h2>
                  <p>
                    You can easily keep track of jobs you have hired contractors to do.
                  </p>
                  <p>
                    Nova One allows you to see how many payments you've made for a job and the balance
                    for a job, allowing you to easily keep track without any confusion.
                  </p>
                  <p>
                    If you need even more detail to track a job, you can use the notes feature of
                    Nova One to jot down what you need to remember.
                  </p>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="organization" role="tabpanel" aria-labelledby="organization-tab">
              <div class="row">
                <div class="col-md">
                  <img src="{% static 'organization.png' %}" srcset="https://shortlist.co/wp-content/uploads/2018/10/Hiring-Pipelines@2x-1.png 2x">
                </div>
                <div class="col-md product-feature-description">
                  <h2>Organization</h2>
                  <p>
                    Nova One makes it easy to organize your jobs and expenses, so
                    you can spend less time organizing and more time doing.
                  </p>
                  <p>
                    You can view the details, jobs, and expenses of each rehab project, allowing you
                    to painlessly find things when you need them.
                  </p>
                  <p>
                    It's also possible to categorize rehab expenses by type, so you can
                    easily know where you are spending your money.
                  </p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>

    <section class="product-checklist page-section">
      <div class="container-fluid max-width-container">
        <div class="row">

          <div class="col-12 product-checklist-intro">
            <h2>
              Take the stress out of rehab projects
            </h2>
            <p class="description-text">
              Nova One makes it easy to organize files and stay on top of rehab projects.
            </p>
          </div>

          <div class="product-checklist-list col-12">

            <div class="row">

              <div class="col-lg-5">
                <h3>Save time with Nova One</h3>
                <ul id="product-checklist-items" class="list-group">
                  <li class="list-group-item"><i class="far fa-thumbs-up"></i>Stress-free project management</li>
                  <li class="list-group-item"><i class="far fa-thumbs-up"></i>Weekly text message alerts</li>
                  <li class="list-group-item"><i class="far fa-thumbs-up"></i>Easy expense tracking</li>
                  <li class="list-group-item"><i class="far fa-thumbs-up"></i>Automatic budget tracking</li>
                  <li class="list-group-item"><i class="far fa-thumbs-up"></i>Free live support</li>
                </ul>
              </div>

              <div class="col-lg-7">
                <div class="video-container">
                  <video autoplay="" playsinline="" muted="" loop="" poster="/static/novaone-video-poster.png" width="100%" height="auto">
										<source src="{% static 'novaone.mp4' %}" type="video/mp4">
									</video>
                </div>
              </div>

            </div>

            <div class="row three-items justify-content-center">
              <div class="col-12 three-items-intro">
                <h1>Know how much you've spent</h1>
                <p class="description-text">Nova One makes it pain free to keep track of how much you're spending.</p>
                <p class="description-text">
                  There's no need to ever crack out the spreadsheet again because with Nova One,
                  every expense, payment, and job for a rehab project is automatically summed for you.
                </p>
              </div>

              <div class="col-md-4 icon-title-description">
                <div class="icon">
                  <img src="{% static 'notification-bell.png' %}" alt="Notification Bell">
                </div>
                <h4>Alerts</h4>
              </div>

              <div class="col-md-4 icon-title-description">
                <div class="icon">
                  <img src="{% static 'organize.png' %}" alt="Organize Diagram">
                </div>
                <h4>Organize</h4>
              </div>

              <div class="col-md-4 icon-title-description">
                <div class="icon">
                  <img src="{% static 'house.png' %}" alt="House">
                </div>
                <h4>Projects</h4>
              </div>

            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="product-media page-section">
      <div class="container-fluid max-width-container">
        <div class="row justify-content-center">
          <h1>See every detail of your rehab projects</h1>
          <p class="description-text">
            Nova One allows you to keep up with your rehab projects,
            ongoing jobs, and expenses.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-4 product-media-content">
            <h3>Active Projects</h3>
            <p>
              You can see who's working on which rehab project, and which
              rehab projects have active, ongoing jobs.
            </p>
            <ul id="product-checklist-items" class="list-group">
              <li class="list-group-item"><i class="far fa-thumbs-up"></i>Manage milestones</li>
              <li class="list-group-item"><i class="far fa-thumbs-up"></i>Track payments by job</li>
              <li class="list-group-item"><i class="far fa-thumbs-up"></i>Job balance tracking</li>
            </ul>
          </div>
          <div class="col-lg-8 product-media">
            <img src="{% static 'active-projects.png' %}" alt="Active Projects">
          </div>
        </div>

        <div class="row">
          <div class="col-lg-8 product-media">
            <img src="{% static 'track-expenses-jobs.png' %}" alt="Expense and Job Tracking">
          </div>

          <div class="col-lg-4 product-media-content">
            <h3>Track Expenses</h3>
            <p>
              Input expenses and categorize them to keep track of how much
              and where you are spending.
            </p>
            <ul id="product-checklist-items" class="list-group">
              <li class="list-group-item"><i class="far fa-thumbs-up"></i>Categorization</li>
              <li class="list-group-item"><i class="far fa-thumbs-up"></i>File upload</li>
              <li class="list-group-item"><i class="far fa-thumbs-up"></i>Easy expense organization</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 product-media-content">
            <h3>SMS Alerts</h3>
            <p>
              It's easy to always stay on budget with Nova One.
              Weekly SMS alerts notify you when you have spent half
              or more of your budget.
            </p>
            <ul id="product-checklist-items" class="list-group">
              <li class="list-group-item"><i class="far fa-thumbs-up"></i>Free SMS alerts</li>
              <li class="list-group-item"><i class="far fa-thumbs-up"></i>Weekly updates</li>
              <li class="list-group-item"><i class="far fa-thumbs-up"></i>Over budget warnings</li>
            </ul>
          </div>
          <div class="col-lg-8 product-media-video">
            <div class="video-container">
              <video muted="" playsinline="" loop="" poster="https://shortlist.co/wp-content/uploads/2018/10/Track-Your-Enagagements-Screenshot@2x.png" width="100%" height="auto">
                <source src="" type="video/mp4">
              </video>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="analytics page-section">
      <div class="container-fluid max-width-container">
        <div class="row">
          <div class="col-lg-8">
            <img src="https://shortlist.co/wp-content/uploads/2018/10/report1x.png" srcset="https://shortlist.co/wp-content/uploads/2018/10/report2x.png 2x">
          </div>
          <div class="col-lg-4">
            <div class="analytics-content">
              <h1>In-depth project analysis</h1>
              <p class="description-text">
                With Nova One, you can see many details of your rehab project,
                such as purchase price, after repair value, and more.
              </p>
            </div>
            <div class="analytics-items">
              <div class="row">

                <div class="col-md-6 analytics-item">
                  <h4>
                    <img src="https://shortlist.co/wp-content/uploads/2018/09/icon1-2.svg">
                    Budget
                  </h4>
                  <p>
                    View how much of your budget has been spent, and how much
                    more you can spend.
                  </p>
                </div>

                <div class="col-md-6 analytics-item">
                  <h4>
                    <img src="https://shortlist.co/wp-content/uploads/2018/09/icon1-2.svg">
                    Total Spent
                  </h4>
                  <p>
                    See how much you have spent for a rehab project
                  </p>
                </div>

                <div class="col-md-6 analytics-item">
                  <h4>
                    <img src="https://shortlist.co/wp-content/uploads/2018/09/icon1-2.svg">
                    Potential Profit
                  </h4>
                  <p>
                    View what your estimated profit is for the rehab project
                  </p>
                </div>

                <div class="col-md-6 analytics-item">
                  <h4>
                    <img src="https://shortlist.co/wp-content/uploads/2018/09/icon1-2.svg">
                    All jobs and expenses
                  </h4>
                  <p>
                    See every job and expense that you have had for a rehab project
                  </p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="home-sign-up page-section">
      <div class="container-fluid max-width-container">
        <div class="row">
          <div class="col-md-12">
            <img src="{% static 'agreement.png' %}" alt="Sign Up">
            <h2>Sign Up Free</h2>
            <p class="description-text">
              Sign up for free today and get all features, free updates, and unparalleled support.
            </p>
            <a href="/customer-register" class="standard-btn">Try It For Free</a>
          </div>
        </div>
      </div>
    </section>

  </main>
</div>

{% include 'includes/website_parts/footer.html' %}
{% endblock content %}
