{% extends 'website/base_generic_website.html' %}
{% load static %}

{% block scripts %}
{% endblock scripts %}


{% block content %}
<div id="page-content">
  <main id="main">
    <section id="product-banner" class="home-banner">
      <div class="container-fluid max-width-container">

        <div class="row">
          <div class="col-lg-12 title-p-cta">
            <h1>All-in-one solution to Manage and Grow Your Rental Business</h1>
            <p class="description-text">
              Automated lead contact, lead qualification, and appointment scheduling.
              Stress-free, automated lead tracking.
            </p>
          </div>
        </div>

        <div class="row">

          <div class="col-md icon-title-description">
            <div class="icon">
              <img src="{% static 'website/images/checklist.png' %}" alt="Checklist">
            </div>
            <h4>Manage</h4>
          </div>

          <div class="col-md icon-title-description">
            <div class="icon">
              <img src="{% static 'website/images/notification-bell.png' %}" alt="Notification Bell">
            </div>
            <h4>Alerts</h4>
          </div>

          <div class="col-md icon-title-description">
            <div class="icon">
              <img src="{% static 'website/images/organize.png' %}" alt="Organize Diagram">
            </div>
            <h4>24/7 Automated Contact</h4>
          </div>

          <div class="col-md icon-title-description">
            <div class="icon">
              <img src="{% static 'website/images/house.png' %}" alt="House">
            </div>
            <h4>Automated Scheduling</h4>
          </div>

        </div>

      </div>

    </section>

    <section class="product-features page-section">
      <div class="container-fluid max-width-container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="p1">
              Expand and Automate Your Business!
            </h1>
            <p class="description-text">
              NovaOne helps you easily contact and qualify leads for your rental business.
            </p>
          </div>
        </div>
        <div class="row">
          <!-- Nav tabs -->
          <ul id="product-features-tab" class="nav nav-tabs justify-content-center" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="automated-contact-tab" data-toggle="tab" href="#automated-contact" role="tab" aria-controls="automated-contact" aria-selected="true">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="qualify-tab" data-toggle="tab" href="#qualify" role="tab" aria-controls="qualify" aria-selected="false">Qualify</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="scheduling-tab" data-toggle="tab" href="#scheduling" role="tab" aria-controls="scheduling" aria-selected="false">Schedule</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="automated-contact" role="tabpanel" aria-labelledby="automated-contact-tab">
              <div class="row">
                <div class="col-md">
                  <img src="{% static 'website/images/budget-tracking.png' %}" srcset="https://shortlist.co/wp-content/uploads/2018/10/Hiring-Pipelines@2x-1.png 2x">
                </div>
                <div class="col-md product-feature-description">
                  <h2>Automated Contact</h2>
                  <p>
                    Nova One automatically contacts each lead for your rental business
                    with SMS and email, so you can focus on more important things.
                  </p>
                  <p>
                    Recieve an email showing the lead information and contact message when a lead is
                    contacted by the NovaOne contact bot.
                  </p>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="qualify" role="tabpanel" aria-labelledby="qualify-tab">
              <div class="row">
                <div class="col-md">
                  <img src="{% static 'website/images/job-tracking.png' %}" srcset="https://shortlist.co/wp-content/uploads/2018/10/Hiring-Pipelines@2x-1.png 2x">
                </div>
                <div class="col-md product-feature-description">
                  <h2>Qualify Leads</h2>
                  <p>
                    There is no need to pick up the phone anymore and ask the same
                    questions to qualify leads anymore. NovaOne works 24/7 to qualify leads
                    for you.
                  </p>
                  <p>
                    NEVER show your rental to an unqualifed lead again! NovaOne will make sure
                    you get the right tenant in your rental.
                  </p>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="scheduling" role="tabpanel" aria-labelledby="scheduling-tab">
              <div class="row">
                <div class="col-md">
                  <img src="{% static 'website/images/organization.png' %}" srcset="https://shortlist.co/wp-content/uploads/2018/10/Hiring-Pipelines@2x-1.png 2x">
                </div>
                <div class="col-md product-feature-description">
                  <h2>Appointment Scheduling</h2>
                  <p>
                    NovaOne makes it easy to set up showings with qualified leads, so
                    you can spend less time scheduling and more time doing. Just simply set
                    up your available showing hours, and NovaOne does the rest!
                  </p>
                  <p>
                    Save time and reduce no-shows with NovaOne's appointment confirmations.
                    Before every showing with a qualified lead, NovaOne will send a SMS
                    message to remind the qualified lead of his or her appointment.
                  </p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>

    <section class="product-checklist page-section">
      <div class="container-fluid max-width-container">
        <div class="row">

          <div class="col-12 product-checklist-intro">
            <h2>
              Take the stress out of rehab projects
            </h2>
            <p class="description-text">
              Nova One makes it easy to organize files and stay on top of rehab projects.
            </p>
          </div>

          <div class="product-checklist-list col-12">

            <div class="row">

              <div class="col-lg-5">
                <h3>Save time with Nova One</h3>
                <ul id="product-checklist-items" class="list-group">
                  <li class="list-group-item"><i class="far fa-thumbs-up"></i>Stress-free project management</li>
                  <li class="list-group-item"><i class="far fa-thumbs-up"></i>Weekly text message alerts</li>
                  <li class="list-group-item"><i class="far fa-thumbs-up"></i>Easy expense tracking</li>
                  <li class="list-group-item"><i class="far fa-thumbs-up"></i>Automatic budget tracking</li>
                  <li class="list-group-item"><i class="far fa-thumbs-up"></i>Free live support</li>
                </ul>
              </div>

              <div class="col-lg-7">
                <div class="video-container">
                  <video autoplay="" playsinline="" muted="" loop="" poster="/static/novaone-video-poster.png" width="100%" height="auto">
										<source src="{% static 'website/videos/novaone.mp4' %}" type="video/mp4">
									</video>
                </div>
              </div>

            </div>

            <div class="row three-items justify-content-center">
              <div class="col-12 three-items-intro">
                <h1>Know how much you've spent</h1>
                <p class="description-text">Nova One makes it pain free to keep track of how much you're spending.</p>
                <p class="description-text">
                  There's no need to ever crack out the spreadsheet again because with Nova One,
                  every expense, payment, and job for a rehab project is automatically summed for you.
                </p>
              </div>

              <div class="col-md-4 icon-title-description">
                <div class="icon">
                  <img src="{% static 'website/images/notification-bell.png' %}" alt="Notification Bell">
                </div>
                <h4>Alerts</h4>
              </div>

              <div class="col-md-4 icon-title-description">
                <div class="icon">
                  <img src="{% static 'website/images/organize.png' %}" alt="Organize Diagram">
                </div>
                <h4>Organize</h4>
              </div>

              <div class="col-md-4 icon-title-description">
                <div class="icon">
                  <img src="{% static 'website/images/house.png' %}" alt="House">
                </div>
                <h4>Projects</h4>
              </div>

            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="product-media page-section">
      <div class="container-fluid max-width-container">
        <div class="row justify-content-center">
          <h1>See every detail of your rehab projects</h1>
          <p class="description-text">
            Nova One allows you to keep up with your rehab projects,
            ongoing jobs, and expenses.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-4 product-media-content">
            <h3>Active Projects</h3>
            <p>
              You can see who's working on which rehab project, and which
              rehab projects have active, ongoing jobs.
            </p>
            <ul id="product-checklist-items" class="list-group">
              <li class="list-group-item"><i class="far fa-thumbs-up"></i>Manage milestones</li>
              <li class="list-group-item"><i class="far fa-thumbs-up"></i>Track payments by job</li>
              <li class="list-group-item"><i class="far fa-thumbs-up"></i>Job balance tracking</li>
            </ul>
          </div>
          <div class="col-lg-8 product-media">
            <img src="{% static 'website/images/active-projects.png' %}" alt="Active Projects">
          </div>
        </div>

        <div class="row">
          <div class="col-lg-8 product-media">
            <img src="{% static 'website/images/track-expenses-jobs.png' %}" alt="Expense and Job Tracking">
          </div>

          <div class="col-lg-4 product-media-content">
            <h3>Track Expenses</h3>
            <p>
              Input expenses and categorize them to keep track of how much
              and where you are spending.
            </p>
            <ul id="product-checklist-items" class="list-group">
              <li class="list-group-item"><i class="far fa-thumbs-up"></i>Categorization</li>
              <li class="list-group-item"><i class="far fa-thumbs-up"></i>File upload</li>
              <li class="list-group-item"><i class="far fa-thumbs-up"></i>Easy expense organization</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 product-media-content">
            <h3>SMS Alerts</h3>
            <p>
              It's easy to always stay on budget with Nova One.
              Weekly SMS alerts notify you when you have spent half
              or more of your budget.
            </p>
            <ul id="product-checklist-items" class="list-group">
              <li class="list-group-item"><i class="far fa-thumbs-up"></i>Free SMS alerts</li>
              <li class="list-group-item"><i class="far fa-thumbs-up"></i>Weekly updates</li>
              <li class="list-group-item"><i class="far fa-thumbs-up"></i>Over budget warnings</li>
            </ul>
          </div>
          <div class="col-lg-8 product-media-video">
            <div class="video-container">
              <video muted="" playsinline="" loop="" poster="https://shortlist.co/wp-content/uploads/2018/10/Track-Your-Enagagements-Screenshot@2x.png" width="100%" height="auto">
                <source src="" type="video/mp4">
              </video>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="analytics page-section">
      <div class="container-fluid max-width-container">
        <div class="row">
          <div class="col-lg-8">
            <img src="https://shortlist.co/wp-content/uploads/2018/10/report1x.png" srcset="https://shortlist.co/wp-content/uploads/2018/10/report2x.png 2x">
          </div>
          <div class="col-lg-4">
            <div class="analytics-content">
              <h1>In-depth project analysis</h1>
              <p class="description-text">
                With Nova One, you can see many details of your rehab project,
                such as purchase price, after repair value, and more.
              </p>
            </div>
            <div class="analytics-items">
              <div class="row">

                <div class="col-md-6 analytics-item">
                  <h4>
                    <img src="https://shortlist.co/wp-content/uploads/2018/09/icon1-2.svg">
                    Budget
                  </h4>
                  <p>
                    View how much of your budget has been spent, and how much
                    more you can spend.
                  </p>
                </div>

                <div class="col-md-6 analytics-item">
                  <h4>
                    <img src="https://shortlist.co/wp-content/uploads/2018/09/icon1-2.svg">
                    Total Spent
                  </h4>
                  <p>
                    See how much you have spent for a rehab project
                  </p>
                </div>

                <div class="col-md-6 analytics-item">
                  <h4>
                    <img src="https://shortlist.co/wp-content/uploads/2018/09/icon1-2.svg">
                    Potential Profit
                  </h4>
                  <p>
                    View what your estimated profit is for the rehab project
                  </p>
                </div>

                <div class="col-md-6 analytics-item">
                  <h4>
                    <img src="https://shortlist.co/wp-content/uploads/2018/09/icon1-2.svg">
                    All jobs and expenses
                  </h4>
                  <p>
                    See every job and expense that you have had for a rehab project
                  </p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="home-sign-up page-section">
      <div class="container-fluid max-width-container">
        <div class="row">
          <div class="col-md-12">
            <img src="{% static 'website/images/agreement.png' %}" alt="Sign Up">
            <h2>Sign Up Free</h2>
            <p class="description-text">
              Sign up for free today and get all features, free updates, and unparalleled support.
            </p>
            <a href="/customer-register" class="standard-btn">Try It For Free</a>
          </div>
        </div>
      </div>
    </section>

  </main>
</div>
{% endblock content %}
