{% extends 'logged_in_worker.html' %}

{ # allow static resources to be loaded from each app's 'static' folder #}
{% load static %}

{ # text that goes to the <title> tag #}
{% block title %}Add Jobs{% endblock title %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
<div class="form-wrapper">
  <div class="panel-heading">
    <h3 id="add-job-heading">Add Job</h3>
    <hr>
  </div>
  <div class="panel-body">
    <form id="login-form" class="add-form" action="" method="post" role="form" enctype="multipart/form-data">
      {% csrf_token %}
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% if form.errors %}
      <div class="form-messages">
        <p>Please enter in all data and try again.</p>
      </div>
      {% endif %}

      <div class="input-label-wrap">
        <div class="label-wrap">{{ form.house.label_tag }}</div>
        <div class="input-wrap input-wrap-select">
          <i class="fas fa-home"></i>
          <select id="id_house" name="house" required>
            <option selected value="">
              <i class="far fa-handshake"></i>
              House
            </option>
            {% for house in form.fields.house.queryset %}
              <option value="{{house.id}}">{{house}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="input-label-wrap">
        <div class="label-wrap">{{ form.start_amount.label_tag }}</div>
        <div class="input-wrap"><i class="fas fa-dollar-sign"></i>{{ form.start_amount }}</div>
      </div>

      <div class="input-label-file-wrap">
        <div class="label-wrap">
          {{ form.document_link.label_tag }}
        </div>
        <div class="file-wrap">
          <i class="fas fa-upload"></i>
          <button type="button" class="file-upload-btn">Upload File</button>
          <input name="document_link" id="id_document_link" type="file" required>
          <div id="file-input-message"></div>
        </div>
      </div>

      <input class="form-submit-btn" type="submit" value="Add Job">
    </form>
  </div>
</div>
{% endblock content %}
