{# Approve As Payment Form #}
<form id="approve-as-payment-form-{{ item.id }}{{ job.id }}" class="approve-as-payment-form" action="{% url 'jobs_admin:index' %}" method="post">
  {% csrf_token %}
  {% if approve_as_payment_form.errors %}
  <div class="form-messages">
    <p>Please try again.</p>
  </div>
  {% endif %}
  {{ approve_as_payment_form }}
  <input type="hidden" name="job_id" value="{{ item.id }}{{ job.id }}">
  <input type="hidden" name="approve-as-payment" value="approve-as-payment">
</form>
