{# Approve Job Form #}
<form id="approve-job-form-{{ item.id }}{{ job.id }}" class="approve-job-form" action="{% url 'jobs_admin:index' %}" method="post">
  {% csrf_token %}
  {% if approve_form.errors %}
  <div class="form-messages">
    <p>Please try again.</p>
  </div>
  {% endif %}
  {{ approve_form }}
  <input type="hidden" name="job_id" value="{{ item.id }}{{ job.id }}">
  <input type="hidden" name="approve_job" value="approve_job">
  <input type="hidden" name="post_from_url" value="{{ post_from_url }}">
</form>
