<form id="delete_exp_form_{{ expense.id }}" class="delete_exp_form" action="{% url 'expenses:expenses' %}" method="post">
  {% csrf_token %}
  {% if delete_exp_form.errors %}
  <div class="form-messages">
    <p>Please try again.</p>
  </div>
  {% endif %}
  {{ delete_exp_form }}
  <input type="hidden" name="expense_id" value="{{ expense.id }}">
  <input type="hidden" name="delete_exp_form" value="delete_exp_form">
  <input type="hidden" name="post_from_url" value="{{ post_from_url }}">

  {% include 'includes/forms/search_inputs.html' %}
</form>
