{# Edit Expense Form #}
<form id="edit-expense-form-{{ item.id }}{{ expense.id }}" class="edit-expense-form edit-item-form popup" action="{% url 'expenses:expenses' %}" method="post" enctype="multipart/form-data">
  <a class="exit-on-click">
     <i class="fas fa-times popup-remove-trigger"></i>
  </a>
  <h2>Edit Expense</h2>
  {% csrf_token %}
  {% if edit_expense_form.errors %}
  <div class="form-messages">
    <p>Please try again.</p>
  </div>
  {% endif %}

  {# House #}
  <div class="input-label-wrap">
    <div class="label-wrap">{{ edit_expense_form.house.label_tag }}</div>
    <div class="input-wrap input-wrap-select">
      <i class="fas fa-home"></i>
      <select id="id_house" name="house">
        {% for house in edit_expense_form.fields.house.queryset %}
          <option{% if expense.house == house or item.house == house %} selected{% endif %} value="{{ house.id }}">{{ house.address }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  {# Amount #}
  <div class="input-label-wrap">
    <div class="label-wrap">{{ edit_expense_form.amount.label_tag }}</div>
    <div class="input-wrap">
      <i class="fas fa-dollar-sign"></i>
      <input type="number" name="amount" value="{{ item.amount }}{{ expense.amount }}" step="0.01">
    </div>
  </div>

  {# Expense Type #}
  <div class="input-label-wrap">
    <div class="label-wrap">{{ edit_expense_form.expense_type.label_tag }}</div>
    <div class="input-wrap input-wrap-select">
      <i class="fa fa-list-alt" aria-hidden="true"></i>
      <select name="expense_type" id="id_expense_type">
        {% for expense_type, expense_value in edit_expense_form.expense_type.field.choices %}
          <option{% if expense.expense_type == expense_type or item.expense_type == expense_type %} selected{% endif %} value="{{ expense_type }}">{{ expense_type }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  {# Description #}
  <div class="input-label-wrap">
    <div class="label-wrap">{{ edit_expense_form.description.label_tag }}</div>
    <div class="input-wrap">
      <textarea name="description" cols="40" rows="10" maxlength="3000" required="">{{ item.description }}{{ expense.description }}</textarea>
    </div>
  </div>

  {# Memo #}
  <div class="input-label-wrap">
    <div class="label-wrap">{{ edit_expense_form.memo.label_tag }}</div>
    <div class="input-wrap">
      <textarea name="memo" cols="40" rows="10" maxlength="3000" required="">{{ item.memo }}{{ expense.memo }}</textarea>
    </div>
  </div>

  {# Document Link #}
  <div class="input-label-file-wrap">
    <div class="label-wrap">{{ edit_expense_form.document_link.label_tag }}</div>
    <div class="file-wrap">
      <i class="fas fa-upload"></i>
      <button type="button" class="file-upload-btn">Upload File</button>
      {{ edit_expense_form.document_link }}
      <div id="file-input-message"></div>
    </div>
  </div>

  {# Pay This Week #}
  <div class="inputGroup">
    <input name="pay_this_week" id="id_pay_this_week_{{ item.id }}{{ expense.id }}" type="checkbox" {% if item.pay_this_week == True or expense.pay_this_week == True %}checked{% endif %}>
    <label for="id_pay_this_week_{{ item.id }}{{ expense.id }}">Pay This Week?</label>
  </div>

  <input type="hidden" name="expense_id" value="{{ item.id }}{{ expense.id }}" />
  <input type="hidden" name="edit_expense" value="edit_expense" />
  <input type="hidden" name="post_from_url" value="{{ post_from_url }}">

  {% include 'includes/forms/search_inputs.html' %}

  <input class="form-submit-btn edit-item-submit-btn" type="submit" form="edit-expense-form-{{ item.id }}{{ expense.id }}" value="Save" />
</form>
