{# Reject Form #}
<form id="reject-form-{{ item.id }}{{ job.id }}" class="reject-form" action="{% url 'jobs_admin:index' %}" method="post">
  {% csrf_token %}
  {% if reject_estimate_form.errors %}
  <div class="form-messages">
    <p>Please try again.</p>
  </div>
  {% endif %}
  {{ reject_estimate_form }}
  <input type="hidden" name="job_id" value="{{ item.id }}{{ job.id }}">
  <input type="hidden" name="reject_estimate" value="reject_estimate">
  <input type="hidden" name="post_from_url" value="{{ post_from_url }}">

  {% include 'includes/forms/search_inputs.html' %}
</form>
