<form id="request_payment_form_{{ item.id }}" class="request_payment_form popup" action="/jobs/" method="post" enctype="multipart/form-data">
  <button class="exit-on-click">
    <i id="send-data-exit" class="fas fa-times popup_remove_trigger"></i>
  </button>
  <h2>Request Payment</h2>
  {% csrf_token %}

  {% if request_payment_form.errors %}
  <div class="form-messages">
    <p>{{ request_payment_form.errors }}</p>
  </div>
  {% endif %}

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <div class="input-label-wrap">
    <div class="label-wrap">{{ request_payment_form.amount.label_tag }}</div>
    <div class="input-wrap"><i class="fas fa-dollar-sign"></i>{{ request_payment_form.amount }}</div>
  </div>

  <div class="input-label-file-wrap">
    <div class="label-wrap">{{ request_payment_form.document_link.label_tag }}</div>
    <div class="file-wrap">
      <i class="fas fa-upload"></i>
      <button type="button" class="file-upload-btn">Upload File</button>
      {{ request_payment_form.document_link }}
      <div id="file-input-message"></div>
    </div>
  </div>

  <input type="hidden" name="job_id" value="{{ item.id }}" />
  <input class="form-submit-btn" type="submit" value="Request Payment" />
</form>
