body {
    padding-top: 90px;
    height: 100%;
    font-family: 'Open Sans', Helvetica, arial, sans-serif;
}

.logo-container {
  text-align: center
}

.logo-container > img {
  height: 80px;
}

.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
  text-align: center;
  font-size: 16px;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

#company-name-alert {
    color: red;
}

form label {
  display: block;
  font-weight: 900;
  font-size: 18px;
}

form select, form input {
  margin-bottom: 20px;
}

form select {
  background-color: transparent;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 3px;
  width: 100%;
}

form input {
  background-color: transparent;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 3px;
}

form input[type="submit"] {
  display: block;
}

.full-width {
  width: 100%;
}

/* Customer Register */
body.customer-register {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

body.customer-register .panel-login {
  background-color: #fff;
  padding: 10px 20px;
  border: none;
  box-shadow: none;
}

body.customer-register .panel-login input:not([type="submit"]), body.customer-register .panel-login select {
    padding: 21px 23px;
    height: auto;
    font-size: 16px;
    color: #868686;
}

body.customer-register input:-ms-input-placeholder, body.customer-register input::-ms-input-placeholder,
body.customer-register input::placeholder {
    color: #868686;
}

body.customer-register input::placeholder {
    opacity: 1;
    color: #868686;
}

body.customer-register span.helptext {
    color: #fff;
}

#signup-title {
  text-align: center;
  color: #fff;
  margin-bottom: 42px;
}

@media all and (min-width: 820px) {
    html {
        height: 100%;
    }
}

/* Buttons */
.standard-btn {
  background-color: #536cdb;
  border-radius: 33px;
  padding: 16px 30px;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease;
  display: inline-block;
  text-align: center;
  color: #fff;
  border: 2px solid #536cdb;
}

.standard-btn:hover {
  background-color: #fff;
  color: #536cdb;
  text-decoration: none;
}

/* Errors */
.errorlist {
  padding: 0;
  list-style: none;
}
.errorlist > li {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.errorlist > li {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}
