{% extends 'appointments/base_appointment.html' %}

{% load static %}
{% load bootstrap_tags %}

{% block title %}New Appointment{% endblock title %}
{% block scripts %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
{% endblock scripts %}

{% block content %}
  <div class="row">
    <div class="col-lg-9">
      <div class="page-header">
        <h1 id="appointment-title">
          {% if not object.pk %}
            Set Up Appointment
          {% else %}
            Edit appointment
          {% endif %}
          </h1>
          <p id="appointment-description">
            Thank you for your interest in {{ company.name }}! Please fill out the form below to make an appointment.
            If you have any questions, you can contact us at <a href="tel:{{ company.phone_number }}">{{ company.phone_number }}</a>
            or email us at <a href="mailto:{{ company.email }}">{{ company.email }}</a>.
          </p>
      </div>

      <form class="form-horizontal" method="post">
        {# Non Field Form Errors #}
        {% if form.errors %}
          {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
        {% endif %}

        {{ form.time.errors }}
        {{ form.time.label_tag }}
        {{ form.time }}

        {{ form.name.errors }}
        {{ form.name.label_tag }}
        {{ form.name }}

        {{ form.phone_number.errors }}
        {{ form.phone_number.label_tag }}
        {{ form.phone_number }}

        {# Medical Appointments #}
        {{ form.address.errors }}
        {{ form.address.label_tag }}
        {{ form.address }}

        {{ form.email.errors }}
        {{ form.email.label_tag }}
        {{ form.email }}

        {{ form.date_of_birth.errors }}
        {{ form.date_of_birth.label_tag }}
        {{ form.date_of_birth }}

        {# Real Estate Appointments #}
        {% if company.customer_user.customer_type == 'PM' %}
        {# Unit Type #}
        {{ form.unit_type.errors }}
        {{ form.unit_type.label_tag }}
        <ul class="radio-select-options" id="id_unit_type">
          {% for value, text in form.unit_type.field.choices %}
          <li>
            <label class="checkbox_container" for="id_unit_type_{{ forloop.counter0 }}">
              <input type="radio" name="{{ form.unit_type.name }}" value="{{ value }}" required id="id_unit_type_{{ forloop.counter0 }}">
              <span class="checkmark"></span>
              {{ text }}
            </label>
          </li>
          {% endfor %}
        </ul>
        {% endif %}

        {# Medical Appointments Test Types #}
        {% if company.customer_user.customer_type == 'MW' %}

        {# Gender #}
        {{ form.gender.errors }}
        {{ form.gender.label_tag }}
        <ul class="radio-select-options" id="id_gender">
          {% for value, text in form.gender.field.choices %}
          <li>
            <label class="checkbox_container" for="id_gender_{{ forloop.counter0 }}">
              <input type="radio" name="{{ form.gender.name }}" value="{{ value }}" required id="id_gender_{{ forloop.counter0 }}">
              <span class="checkmark"></span>
              {{ text }}
            </label>
          </li>
          {% endfor %}
        </ul>

        <h2>Choose Your Tests Below</h2>
        <ul class="enabled_options_list" id="id_test_type">
          <div>{{ form.test_type.errors }}</div>
          {% for value, text in form.test_type.field.choices %}

          {# Test Categroy Titles #}
          {% if forloop.counter0 == 0 %}
          <h3 class="category-title">Chemistry</h3>
          {% elif forloop.counter0 == 7 %}
          <h3 class="category-title">Urinalysis</h3>
          {% elif forloop.counter0 == 8 %}
          <h3 class="category-title">Hematology</h3>
          {% elif forloop.counter0 == 10 %}
          <h3 class="category-title">Serology</h3>
          {% endif %}

          <li>
            <label class="checkbox_container">
              <input id="id_test_type_{{ forloop.counter0 }}" name="{{ form.test_type.name }}" type="checkbox" value="{{ value }}">
              <span class="checkmark"></span>
              {{ text }}
            </label>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
        <button type="submit" class="standard-btn create-appointment-btn">
          {% if not object.pk %}
            Create Appointment
          {% else %}
            Update Appointment
          {% endif %}
          <i class="fas fa-pencil-alt"></i>
        </button>
      </form>
    </div>
  </div>

{% endblock %}

{% block page_js %}
<script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
{{ appointments|json_script:"appointments_time" }}
{{ company.days_of_the_week_enabled|json_script:"days_of_the_week_enabled" }}
{{ company.hours_of_the_day_enabled|json_script:"hours_of_the_day_enabled" }}
<script defer src="{% static 'appointments/js/appointments.js' %}?v=1.1" type="text/javascript"></script>
<!-- Google Maps Place Autocomplete  -->
<script defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4W5bUpErgWQAGqDuGtTkP5xfqegLeJew&libraries=places"></script>
<script defer src="{% static 'google_places.js' %}?v=1.0" type="text/javascript"></script>
{% endblock %}
