{% extends 'appointments/base_appointment.html' %}

{% load static %}
{% load bootstrap_tags %}

{% block title %}New Appointment{% endblock title %}
{% block page_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
{% endblock page_css %}

{% block content %}
  <div class="row">
    <div class="col-lg-9">
      <div class="page-header">
        <h1>
          {% if not object.pk %}
            Set Up Appointment
          {% else %}
            Edit appointment
          {% endif %}
          </h1>
          <p>
            Thanks for your interest in {{ apartment_complex_name }} located
            at {{ apartment_complex_address }}. Please fill out the form below to make an appointment
            for a tour of the unit you are interested in. If you have any questions,
            you can contact us at <a href="tel:{{ apartment_complex_number }}">{{ apartment_complex_number }}</a>
            or email us at <a href="mailto:{{ apartment_complex_email }}">{{ apartment_complex_email }}</a>.
          </p>
      </div>

      <form class="form-horizontal" method="post">
        {% csrf_token %}
        {{ form|as_bootstrap_horizontal }}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="standard-btn">
              {% if not object.pk %}
                Create appointment
              {% else %}
                Update appointment
              {% endif %}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}

{% block page_js %}
<script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
{{ appointments|json_script:"appointments_time" }}
<script defer src="{% static 'appointments/appointments.js' %}?v=1.0" type="text/javascript"></script>
{% endblock %}
