{% extends "base_appointment.html" %}

{% block title %}{{ appointment_base }}{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-lg-9">
      <div class="page-header">
        <h1>Your Appointment</h1>
      </div>

      <dl class="dl-horizontal">
        <dt><strong>Name:</strong></dt>
        <dd>{{ appointment_base.name }}</dd>

        <dt><strong>Phone number:</strong></dt>
        <dd>{{ appointment_base.phone_number }}</dd>

        <dt><strong>Time:</strong></dt>
        <dd>{{ appointment_base.time }}</dd>

        {# Display extra information for Medical Workers #}
        {% if company.customer_user.customer_type == 'MW' %}
        <dt><strong>Email:</strong></dt>
        <dd>{{ appointment_medical.email }}</dd>

        <dt><strong>Address:</strong></dt>
        <dd>{{ appointment_medical.address }}</dd>

        <dt><strong>City:</strong></dt>
        <dd>{{ appointment_medical.city }}</dd>

        <dt><strong>Zip:</strong></dt>
        <dd>{{ appointment_medical.zip }}</dd>

        <dt><strong>Date Of Birth:</strong></dt>
        <dd>{{ appointment_medical.date_of_birth }}</dd>

        <dt><strong>Gender:</strong></dt>
        <dd>{{ appointment_medical.gender }}</dd>

        <dt><strong>Test Type:</strong></dt>
        <dd>{{ appointment_medical.test_type }}</dd>
        {% elif company.customer_user.customer_type == 'PM' %}
        <dt><strong>Unit Type:</strong></dt>
        <dd>{{ appointment_real_estate.unit_type }}</dd>
        {% endif %}

      </dl>

      <a class="btn btn-default" href="{% url 'property:companies' %}">Back</a>
      <a class="btn btn-danger" href="{% url 'appointments:delete_appointment' appointment_base.id %}">Delete</a>
    </div>
  </div>
{% endblock %}
