{% extends 'appointments/base_appointment.html' %}

{% load static %}
{% load bootstrap_tags %}

{% block title %}New Appointment{% endblock title %}
{% block scripts %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
{% endblock scripts %}

{% block content %}
  <div class="row">
    <div class="col-lg-9">
      <div class="page-header">
        <h1>
          {% if not object.pk %}
            Set Up Appointment
          {% else %}
            Edit appointment
          {% endif %}
          </h1>
          <p>
            Thank you for your interest in {{ company_name }}! Please fill out the form below to make an appointment.
            If you have any questions, you can contact us at <a href="tel:{{ apartment_complex_phone_number }}">{{ company_phone_number }}</a>
            or email us at <a href="mailto:{{ apartment_complex_email }}">{{ company_email }}</a>.
          </p>
      </div>

      <form class="form-horizontal" method="post">
        {% csrf_token %}
        {{ form|as_bootstrap_horizontal }}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="standard-btn create-appointment-btn">
              {% if not object.pk %}
                Create Appointment
              {% else %}
                Update Appointment
              {% endif %}
              <i class="fas fa-pencil-alt"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}

{% block page_js %}
<script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
{{ appointments|json_script:"appointments_time" }}
{{ days_of_the_week_enabled|json_script:"days_of_the_week_enabled" }}
{{ hours_of_the_day_enabled|json_script:"hours_of_the_day_enabled" }}
<script defer src="{% static 'appointments/appointments.js' %}?v=1.1" type="text/javascript"></script>
<!-- Google Maps Place Autocomplete  -->
<script defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4W5bUpErgWQAGqDuGtTkP5xfqegLeJew&libraries=places"></script>
<script defer src="{% static 'appointments/google_places.js' %}?v=1.0" type="text/javascript"></script>
{% endblock %}
