html, body {
  height: 100%;
  overflow: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
  overflow-x: hidden;
  color: #444;
  font-family: 'Open Sans', Helvetica, arial, sans-serif;
  position: relative;
  background-color: #f3f3f3;
  min-height: 100%;
}

body .job-info td:last-child input[type="submit"] {
  margin-bottom: 0;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: none;
  height: 100%;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 10;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background-color: #142032;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  background-color: #f3f3f3;
  max-width: 2000px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 150px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

.overlay {
  position: absolute; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 9999;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 300px 0;
}

.visible {
  visibility: visible !important;
  opacity: 1 !important;
}

.display-none {
  display: none !important;
}

/* Buttons in Options Container */
@media all and (max-width: 385px) {
  .btn-options-container .btn {
    margin-bottom: 10px;
  }
}

/* Sidebar Styles */

.sidebar-nav {
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #969696;
  transition: all 0.5s;
  padding: 10px 0;
}
.sidebar-nav li a svg {
  font-size: 23px;
  margin-right: 8px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  background-color: #fff;
}

.sidebar-nav li a.active {
  background-color: #09090f;
  color: #fff;
  border-left: 3px solid #bc383c;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media (min-width: 1125px) {
  .mobile-display-none {
    display: none !important;
  }
}

/* Close Nav Btn */
.close-nav {
  font-size: 28px;
  text-align: right;
  margin-right: 25px;
  margin-top: 8px;
  cursor: pointer;
  color: #969696;
}

/* Table Headings */

.job-headings th, .item-headings li {
  color: #4b4747;
  font-weight: normal;
  white-space: nowrap;
}

.job-headings th {
  padding: 7px 10px;
}

ul.item-headings {
  padding: 0;
  margin-bottom: 5px;
  max-width: 1400px;
}

.page-title {
  margin-bottom: 30px;
}

.item-headings li {
  display: inline-block;
}

.item-headings .col:first-child li:first-child {
  margin-right: 90px;
}

.item-headings .col:first-child li.second-heading {
  margin-right: 58px;
}

.item-headings .col:nth-child(2) li:first-child {
  margin-right: 2%;
}

.item-headings .col:nth-child(2) li:first-child.contract_link {
  margin-right: 15px;
}

/* Job Container */

.job-container {
  overflow-x: auto;
  margin-top: 25px;
  background-color: #fff;
  padding: 20px;
  border: 2px solid #ddd;
  border-top: 4px solid #546256;
  margin-bottom: 30px;
  max-width: 2000px;
  transition: all 0.3s ease-in-out;
}

.job-container h3 {
  font-size: 21px;
  color: #4A87B6;
}

/* Option Forms */

div.option-forms {
  display: none;
}

/* Seperate Items Container */
#sep-container-1 {
  margin-bottom: 30px;
}

/* Item Container */

.item-title {
  margin-top: 37px;
  margin-bottom: 23px;
}

div.item-container {
  background-color: #fff;
  padding: 27px 0;
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: 0 1px 1px #ccc;
  margin-bottom: 10px;
  max-width: 1400px;
}

div.item-container .status {
  padding: 5px 30px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-right: 20px;
  width: 130px;
}

div.item-container .status.open {
  background-color: #05C280;
}

div.item-container .status.approved {
  background-color: #05C280;
}

div.item-container .status.rejected {
  background-color: #ee8a90;
}

div.item-container .status.new {
  background-color: #51b5f1;
}

div.item-container .status.active {
  background-color: #303B57;
}

div.item-container .status.expense {
  background-color: #8e52fd;
}

div.item-container ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}

div.item-container ul hr {
  display: none;
}

div.item-container ul li {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

div.item-container ul li > a {
  display: inline-block;
}

div.item-container ul li.info-2.active_jobs {
  margin-right: 43px;
}
div.item-container ul li.info-1 {
  width: 130px;
}

div.item-container ul li.info-2 {
  margin-right: 10px;
}

div.item-container ul li.info-4 {
  width: 75px;
  text-overflow: unset;
  overflow: visible;
}

div.item-container ul div.item-options-dropdown {
  float: right;
  cursor: pointer;
}

div.item-container ul div.item-options-dropdown .item-options-toggle {
  padding: 0 15px;
  display: inline-block;
}

div.item-container ul div.item-options-dropdown .dropdown-new::after {
  left: 119px;
}

div.item-container ul div.item-options-dropdown .dropdown-new::before {
  left: 118px;
}

div.item-container ul div.item-options-dropdown .dropdown-approved::after {
  left: 96px;
}

div.item-container ul div.item-options-dropdown .dropdown-approved::before {
  left: 95px;
}

div.item-container ul div.item-options-dropdown .document_link_upload {
  position: absolute;
  top: 48px;
  opacity: 0;
  padding: 15px 0;
}

div.item-container ul.mobile-option-icons .document_link_upload-m {
  position: absolute;
  top: 103px;
  padding: 30px 0;
  width: 80px;
  overflow: hidden;
  opacity: 0;
}

div.item-container .info-group:first-child li:first-child {
  margin-left: -15px;
}

div.item-container ul .info-title, div.item-container ul.mobile-option-icons {
  display: none;
}

div.item-container + h3.house-address {
  margin-top: 30px;
}

@media (max-width: 1178px) {
  #page-content-wrapper {
    padding-bottom: 0;
  }

  .item-headings-wrapper {
    display: none;
  }

  .item-container .info-group .col, .item-container .info-group {
    flex: 0 0 100%;
    max-width: 100%;
  }

  h2.page-title {
    text-align: center;
    margin-bottom: 30px;
  }

  div.item-container {
    padding: 0;
    text-align: center;
  }

  div.item-container .status, div.item-container ul li.info-1 {
    width: 100%;
    margin: 0;
  }

  div.item-container .status {
    padding: 20px 0;
    font-size: 16px;
  }

  div.item-container .info-group:first-child li:first-child {
    padding: 0;
  }

  div.item-container .info-group:first-child ul {
    margin: 0 -15px 0 -15px;
  }

  div.item-container .info-group:first-child li:first-child {
    margin: 0;
  }

  div.item-container ul li.info-1 {
    padding-top: 20px;
  }

  div.item-container ul li:not(.list-inline-item) {
    display: block;
    width: 100%;
    padding: 10px;
  }

  div.item-container ul li.info-2 span, div.item-container ul li.info-3 span {
    font-weight: bold;
  }

  div.item-container ul hr {
    display: block;
    width: 80%;
  }

  div.item-container ul .info-title {
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    color: #979AA6;
  }

  div.item-container .info-group:first-child .info-title {
    margin-top: 21px;
  }

  div.item-container ul li.info-4 {
    padding-bottom: 20px;
    margin-right: 0;
    width: auto;
  }

  div.item-container ul li.info-2 > a {
    margin: 0;
  }

  div.item-container ul li.info-3 > a {
    margin: 0;
  }

  div.item-container ul .item-options-dropdown {
    display: none;
  }

  div.item-container ul.mobile-option-icons {
    display: block;
  }

  div.item-container ul.mobile-option-icons > li > button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 17px;
    font-size: 29px;
  }

  div.item-container ul.mobile-option-icons button.approve-option-m {
    color: #62a9f9;
  }

  div.item-container ul.mobile-option-icons button.approve-payment-option-m {
    color: #53d0c0;
  }

  div.item-container ul.mobile-option-icons button.reject-option-m {
    color: #f76767;
  }

  a#add-project-btn {
    float: none;
  }

  h3.house-address {
    text-align: center;
  }
}

.job-summary {
  width: 100%;
  min-width: 475px;
  max-width: 2000px;
  text-align: center;
}

.job-summary td {
  padding: 18px 10px;
  white-space: nowrap;
}

tr.job-info:nth-child(odd) {
  background-color: #f3f3f3;
}

tr.spacer {
  height: 10px;
}

/* Drop Down Menus */
.dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
  border-radius: 0;
}

.dropdown-menu.show {
  visibility: visible;
  opacity: 1;
}

.dropdown-item {
  transition: color 0.3s ease-in-out;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown-item:focus, .dropdown-item:hover,
.dropdown-item:focus button, .dropdown-item:hover button {
  background-color: transparent;
  color: #53d0c0;
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

/* Options Drop Down Menu */
#options-dropdown {
  display: inline-block;
}

#options-dropdown button {
  background-color: transparent;
  border: 0;
  padding: 0;
}


@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

/* Forms */
#download-data-form {
  display: none;
}

.form-wrapper {
  max-width: 500px;
}

form label {
  display: block;
  font-weight: normal;
  font-size: 17px;
}

form select, form input, form textarea {
  margin-bottom: 20px;
}

form select {
  background-color: transparent;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 3px;
  width: 100%;
}

form input, form textarea {
  width: 100%;
  background-color: transparent;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 3px;
}

form textarea {
  height: 185px;
}

form input[type="submit"], form input[type="file"], form input[type="number"] {
  display: block;
}

.btn-options-container {
  margin-bottom: 30px;
  max-width: 2000px;
}

form ul.messages {
  list-style: none;
  padding: 0;
}

form ul.messages li {
  padding: 10px;
}

form ul.messages li.success {
  color: #4BB543;
  background-color: #DAFFD8;
}

form ul.messages li.error {
  color: #B00E0E;
  background-color: #FEAAAA;
}

/* Download Data Form */
form.download-jobs-form {
  display: inline-block;
}

form.add-form input:not([type="submit"]):not([type="file"]), form.add-form select {
  background-color: #fff;
  border: 0;
  border-radius: 0;
  height: 45px;
  padding: 10px;
}

form.add-form input[type="file"] {
  border: 0;
  padding: 0;
}

div.input-wrap {
  position: relative;
}

div.input-wrap > svg {
  position: absolute;
  top: 15px;
  left: 10px;
}

div.input-wrap input, div.input-wrap select {
  padding-left: 30px !important;
}

/* Search */
#search-result-container {
  transition: all 0.3s ease-in-out;
  margin-top: 30px;
}
#search-form {
  display: block;
  float: right;
}

#search-form > button[type="submit"] {
  margin-left: -4px;
  background-color: transparent;
}

#search-wrap {
  position: relative;
  display: inline-block;
}

#search-wrap > svg {
  position: absolute;
  top: 21px;
  left: 12px;
  font-size: 15px;
  color: #51515199;
}

#search-wrap > input#search {
  padding: 15px 10px 11px 33px;
  display: inline-block;
  margin: 0;
  background-color: #fff;
  height: 50px;
  border-radius: 0;
}

.no-ajax-search-results .job-headings th,
.no-ajax-search-results .job-summary td,
#search-result-container .job-headings th,
#search-result-container .job-summary td {
  text-align: left;
}

.no-ajax-search-results h3.table-title,
#search-result-container h3.table-title {
  padding-left: 9px;
}

@media (max-width: 1015px) {
  #search-form > button[type="submit"] {
    display: none;
  }
}

@media (max-width: 885px) {
  #search-form {
    float: none;
  }
}

/* Send Data */
#send-data-form {
  padding: 20px;
  background-color: #fff;
  max-width: 300px;
  position: relative;
  z-index: 99999999;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  display: none;
}

#send-data-form textarea {
  height: 70px;
}

#send-data-form .exit-on-click {
  position: absolute;
  top: 19px;
  right: 10px;
}

#send-data-form .exit-on-click > svg {
  font-size: 23px;
  box-sizing: content-box;
  padding: 10px 18px;
}

#send-data-form #send-data-submit {
  margin: 0;
}

@media (max-width: 610px) {
  #send-data-form h2 {
    font-size: 25px;
  }
  #send-data-form .exit-on-click {
    top: 14px;
  }
}

/* Buttons */

.custom-btn {
  max-width: 250px;
  height: 50px;
  line-height: 50px;
  border: 2px solid currentColor;
  position: relative;
  cursor: pointer;
  transition: all 1s ease;
  overflow: hidden;
  display: block;
  margin: 0;
  display: inline-block;
}

.custom-btn:hover {
  text-decoration: none;
}

.custom-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: currentColor;
  position: absolute;
  transition: all 1s ease;
  top: 0;
  left: -240px;
}

.custom-btn:hover:before {
  left: 0;
}

.custom-btn > p {
  text-align: center;
  text-transform: uppercase;
  color: currentColor;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  z-index: 1;
  transition: all 1s ease;
  padding: 0 25px;
}

.custom-btn:hover > p, .custom-btn:hover > svg {
  color: #fff;
}

.custom-btn > svg {
  position: absolute;
  top: 36%;
  left: 87%;
  transition: all 1s ease;
}

.upload-document-btn {
  color: #ffa83c99;
}

.upload-document-btn > p {
  color: #ffa83c99;
  margin: 0;
}

.upload-document-btn::before {
  background-color: #ffa83c;
}

.upload-document-btn:hover {
  color: #ffa83c;
}

/* Unapprove Button */
/* Before Hover */
.red-slide-btn {
  color: #f7676799;
}

.red-slide-btn > p {
  color: #f7676799;
  margin: 0;
}

/* After Hover */
.red-slide-btn::before {
  background-color: #f76767;
}

.red-slide-btn:hover {
  color: #f76767;
}

/* Approve Button */
/* Before Hover */
.approve-btn {
  color: #53d0c099;
}

.approve-btn > p {
  color: #53d0c099;
  margin: 0;
}

/* After Hover */
.approve-btn::before {
  background-color: #53d0c0;
}

.approve-btn:hover {
  color: #53d0c0;
}

/* Blue Slide Button */
/* Before Hover */
.blue-slide-btn {
  color: #62a9f999;
}

.blue-slide-btn > p {
  color: #62a9f999;
  margin: 0;
}

/* After Hover */
.blue-slide-btn::before {
  background-color: #62a9f9;
}

.blue-slide-btn:hover {
  color: #62a9f9;
}

/* Approve As Payment Button */
/* Before Hover */
.approve-as-payment-btn {
  color: #92929299;
}

.approve-as-payment-btn > p {
  color: #92929299;
  margin: 0;
}

/* After Hover */
.approve-as-payment-btn::before {
  background-color: #929292;
}

.approve-as-payment-btn:hover {
  color: #929292;
}

.form-submit-btn {
  background-color: transparent;
  border: 2px solid #62a9f999;
  color: #62a9f999;
  height: 56px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  display: block;
  width: 100%;
  transition: all 1s ease;
  border-radius: 0;
}

.form-submit-btn:hover {
  color: #62a9f9;
  border-color: #62a9f9;
}

/* Intro Js */
a.introjs-button {
  padding: 10px;
}

a.introjs-skipbutton {
  display: none;
}

a.introjs-skipbutton.introjs-donebutton {
  display: inline-block;
}

a#step-4 {
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP printers */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
  word-break: break-all;
}

/* Drop Down Toggle */
.dropdown-toggle::after {
  display: none;
}
