html {
  background-color: #f3f3f3;
}

body {
  overflow-x: hidden;
  color: #444;
  font-family: 'Open Sans', Helvetica, arial, sans-serif;
}

body .job-info td:last-child input[type="submit"] {
  margin-bottom: 0;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: none;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 10;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background-color: #142032;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  background-color: #f3f3f3;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Buttons in Options Container */
@media all and (max-width: 385px) {
  .btn-options-container .btn {
    margin-bottom: 10px;
  }
}

/* Sidebar Styles */

.sidebar-nav {
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #969696;
  transition: all 0.5s;
  padding: 10px 0;
}
.sidebar-nav li a svg {
  font-size: 23px;
  margin-right: 8px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  background-color: #fff;
}

.sidebar-nav li a.active {
  background-color: #09090f;
  color: #fff;
  border-left: 3px solid #bc383c;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media (min-width: 1125px) {
  .mobile-display-none {
    display: none !important;
  }
}

/* Close Nav Btn */
.close-nav {
  font-size: 28px;
  text-align: right;
  margin-right: 25px;
  margin-top: 8px;
  cursor: pointer;
  color: #969696;
}

/* Table Headings */

.job-headings th, .house-headings li {
  color: #4b4747;
  font-weight: normal;
  white-space: nowrap;
}

.job-headings th {
  padding: 7px 10px;
}

ul.house-headings {
  padding: 0;
  margin-bottom: 5px;
  max-width: 1400px;
}

.house-headings li {
  display: inline-block;
}

.house-headings .col:first-child li:first-child {
  margin-right: 68px;
}

.house-headings .col:nth-child(2) li:first-child {
  margin-right: 2%;
}

/* Job Container */

.job-container {
  overflow-x: auto;
  margin-top: 25px;
  background-color: #fff;
  padding: 20px;
  border: 2px solid #ddd;
  border-top: 4px solid #546256;
  margin-bottom: 30px;
  max-width: 2000px;
}

.job-container h3 {
  font-size: 21px;
  color: #4A87B6;
}

/* House Container */

div.house-container {
  background-color: #fff;
  padding: 27px 0;
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: 0 1px 1px #ccc;
  margin-bottom: 10px;
  max-width: 1400px;
}

div.house-container .status {
  padding: 5px 30px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-right: 20px;
  width: 109px;
}

div.house-container .status.open {
  background-color: #05C280;
}

div.house-container .status.active {
  background-color: #303B57;
}

div.house-container ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}

div.house-container ul hr {
  display: none;
}

div.house-container ul li {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

div.house-container ul li > a {
  display: inline-block;
}

div.house-container ul li.num_active_jobs {
  margin-right: 43px;
}

div.house-container ul li.address {
  width: 160px;
}

div.house-container .info-group:first-child li:first-child {
  margin-left: -15px;
}

div.house-container ul .info-title {
  display: none;
}

@media (max-width: 1124px) {
  .house-headings-wrapper {
    display: none;
  }

  .house-container .info-group .col, .house-container .info-group {
    flex: 0 0 100%;
    max-width: 100%;
  }

  h2.page-title {
    text-align: center;
    margin-bottom: 30px;
  }

  div.house-container {
    padding: 0;
    text-align: center;
  }

  div.house-container .status, div.house-container ul li.address {
    width: 100%;
    margin: 0;
  }

  div.house-container .status {
    padding: 20px 0;
    font-size: 16px;
  }

  div.house-container .info-group:first-child li:first-child {
    padding: 0;
  }

  div.house-container .info-group:first-child ul {
    margin: 0 -15px 0 -15px;
  }

  div.house-container .info-group:first-child li:first-child {
    margin: 0;
  }

  div.house-container ul li.address {
    padding-top: 20px;
  }

  div.house-container ul li {
    display: block;
    width: 100%;
    padding: 10px;
  }

  div.house-container ul li.num_active_jobs span, div.house-container ul li.num_completed_jobs span {
    font-weight: bold;
  }

  div.house-container ul hr {
    display: block;
    width: 80%;
  }

  div.house-container ul .info-title {
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    color: #979AA6;
  }

  div.house-container .info-group:first-child .info-title {
    margin-top: 21px;
  }

  div.house-container ul li.total_spent {
    padding-bottom: 20px;
  }

  div.house-container ul li.num_active_jobs > a {
    margin: 0;
  }

  div.house-container ul li.num_completed_jobs > a {
    margin: 0;
  }

  a#add-project-btn {
    float: none;
  }
}

.job-summary {
  width: 100%;
  min-width: 475px;
  max-width: 2000px;
  text-align: center;
}

.job-summary td {
  padding: 18px 10px;
  white-space: nowrap;
}

tr.job-info:nth-child(odd) {
  background-color: #f3f3f3;
}

tr.spacer {
  height: 10px;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

/* Forms */
.form-wrapper {
  max-width: 500px;
}

form label {
  display: block;
  font-weight: 900;
  font-size: 18px;
}

form select, form input {
  margin-bottom: 20px;
}

form select {
  background-color: transparent;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 3px;
  width: 100%;
}

form input {
  width: 100%;
  background-color: transparent;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 3px;
}

form input[type="submit"], form input[type="file"], form input[type="number"] {
  display: block;
}

.btn-options-container {
  margin-bottom: 30px;
}

form ul.messages {
  list-style: none;
  padding: 0;
}

form ul.messages li {
  padding: 10px;
}

form ul.messages li.success {
  color: #4BB543;
  background-color: #DAFFD8;
}

form ul.messages li.error {
  color: #B00E0E;
  background-color: #FEAAAA;
}

/* Download Data Form */
form.download-jobs-form {
  display: inline-block;
}

form.add-form input:not([type="submit"]):not([type="file"]), form.add-form select {
  background-color: #fff;
  border: 0;
  border-radius: 0;
  height: 45px;
  padding: 10px;
}

form.add-form input[type="file"] {
  border: 0;
  padding: 0;
}

/* Buttons */

.custom-btn {
  max-width: 250px;
  height: 50px;
  line-height: 50px;
  border: 2px solid currentColor;
  position: relative;
  cursor: pointer;
  transition: all 1s ease;
  overflow: hidden;
  display: block;
  margin: 0;
  display: inline-block;
}

.custom-btn:hover {
  text-decoration: none;
}

.custom-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: currentColor;
  position: absolute;
  transition: all 1s ease;
  top: 0;
  left: -240px;
}

.custom-btn:hover:before {
  left: 0;
}

.custom-btn > p {
  text-align: center;
  text-transform: uppercase;
  color: currentColor;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  z-index: 1;
  transition: all 1s ease;
  padding: 0 25px;
}

.custom-btn:hover > p, .custom-btn:hover > svg {
  color: #fff;
}

.custom-btn > svg {
  position: absolute;
  top: 36%;
  left: 87%;
  transition: all 1s ease;
}

.upload-document-btn {
  color: #ffa83c99;
}

.upload-document-btn > p {
  color: #ffa83c99;
  margin: 0;
}

.upload-document-btn::before {
  background-color: #ffa83c;
}

.upload-document-btn:hover {
  color: #ffa83c;
}

/* Unapprove Button */
/* Before Hover */
.red-slide-btn {
  color: #f7676799;
}

.red-slide-btn > p {
  color: #f7676799;
  margin: 0;
}

/* After Hover */
.red-slide-btn::before {
  background-color: #f76767;
}

.red-slide-btn:hover {
  color: #f76767;
}

/* Approve Button */
/* Before Hover */
.approve-btn {
  color: #53d0c099;
}

.approve-btn > p {
  color: #53d0c099;
  margin: 0;
}

/* After Hover */
.approve-btn::before {
  background-color: #53d0c0;
}

.approve-btn:hover {
  color: #53d0c0;
}

/* Blue Slide Button */
/* Before Hover */
.blue-slide-btn {
  color: #62a9f999;
}

.blue-slide-btn > p {
  color: #62a9f999;
  margin: 0;
}

/* After Hover */
.blue-slide-btn::before {
  background-color: #62a9f9;
}

.blue-slide-btn:hover {
  color: #62a9f9;
}

/* Approve As Payment Button */
/* Before Hover */
.approve-as-payment-btn {
  color: #92929299;
}

.approve-as-payment-btn > p {
  color: #92929299;
  margin: 0;
}

/* After Hover */
.approve-as-payment-btn::before {
  background-color: #929292;
}

.approve-as-payment-btn:hover {
  color: #929292;
}

.form-submit-btn {
  background-color: transparent;
  border: 2px solid #62a9f999;
  color: #62a9f999;
  height: 56px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  display: block;
  width: 100%;
  transition: all 1s ease;
  border-radius: 0;
}

.form-submit-btn:hover {
  color: #62a9f9;
  border-color: #62a9f9;
}
