{% extends 'items_group.html' %}

{% load humanize %}
{% load static %}
{% load jobs_admin_group_check %}

{% block title %}Estimates{% endblock title %}

{% block scripts %}
<script type="text/javascript" src="{% static 'jobs_admin/jobs_admin.js' %}" defer></script>
{% endblock scripts %}

{% block page_title %}Estimates from {{start_week}} to {{today}}{% endblock page_title %}

{% block item_loop %}
  {% for house in houses %}
    <h3>{{ house.address }}</h3>
    {% if forloop.first %}
    <div class="item-headings-wrapper container-fluid">
      <ul class="item-headings row">
        <div class="col col-sm-6">
          <li>Status</li>
          <li>Company</li>
        </div>
        <div class="col col-sm-4">
          <li class="contract_link">Contract Link</li>
          <li>Submitted</li>
        </div>
        <div class="col col-sm-2">
          <li>Amount</li>
        </div>
      </ul>
    </div>
    {% endif %}
    {% for job in jobs %}
      {% if job.house.address == house.address %}
        <div class="item-container">
          <div class="container-fluid">
            <div class="row">
              <div class="info-group col col-sm-6">
                <ul>
                  <li>
                    {% if job.approved == False and job.rejected == False %}
                    <div class="status new">New</div>
                    {% elif job.approved == True %}
                    <div class="status approved">Approved</div>
                    {% elif job.rejected == True %}
                    <div class="status rejected">Rejected</div>
                    {% endif %}
                  </li>
                  <span class="info-title">Company</span>
                  <li class="info-1">{{ job.company }}</li>
                  <hr>
                </ul>
              </div>
              <div class="info-group col col-sm-4">
                <ul>
                  <span class="info-title">Contract</span>
                  <li class="info-2">
                    <a rel="noopener noreferrer" target="_blank" href="{{ job.document_link.url }}">View Contract</a>
                  </li>
                  <hr>
                  <span class="info-title">Submitted</span>
                  <li class="info-3">
                    {{ job.start_date|date:'M j, g:i a' }}
                  </li>
                  <hr>
                </ul>
              </div>
              <div class="info-group col col-sm-2">
                <ul>
                  <span class="info-title">Amount</span>
                  <li class="info-4">${{ job.start_amount|intcomma }}</li>
                  <li class="item-options"><i class="fas fa-ellipsis-v"></i></li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- /.item-container -->
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endblock item_loop %}
