{% extends 'base_login_admin.html' %}

{% load humanize %}
{% load static %}
{% load jobs_admin_group_check %}

{% block title %}All Approved Jobs{% endblock title %}

{% block scripts %}
{% endblock scripts %}

{% block body_class %}jobs_admin{% endblock body_class %}

{% block content %}
{% if worker_url and staff_url %}
<div class="signup-link">
  <h3>Welcome to Your Job Dashboard!</h3>
  <p>
    Keep these signup links, and
    send it to your staff and contractors so that
    they can interact with the invoice system.
  </p>
  <p>Worker Signup (for people you want to submit estimates and invoices):</p>
  <p><a href="{{worker_url}}">{{worker_url}}</a></p>
  <p>Staff Signup (for people you want to view all of your current data):</p>
  <p><a href="{{staff_url}}">{{staff_url}}</a></p>
</div>
{% endif %}
<h2>Active Jobs</h2>
{% for w in current_workers %}
<div id="{{w.house.address|add_dashes}}" class="job-container">
  <div class="house">
    <h3 class="house-address">{{w.house.address}}</h3>
  </div>
  <div class="jobs">
    <table class="job-summary">
      <tbody>
        <tr class="job-headings">
          <th>Job ID</th>
          <th>Timestamp</th>
          <th>Company</th>
          <th>Amount</th>
          <th>Total Paid</th>
          <th>Balance</th>
          <th>Contract Link</th>
          <th>Payment History</th>
          {% if current_user|in_group:'Customers' %}
          <th>Unapprove Job</th>
          {% endif %}
        </tr>
        <tr class="spacer"></tr>
        {% for job in jobs %}
        {% if job.house.address == w.house.address %}
        <tr class="job-info">
          <td>{{job.id}}</td>
          <td>{{job.start_date}}</td>
          <td>{{job.company}}</td>
          <td>${{job.start_amount|intcomma}}</td>
          <td>${{job.total_paid}}</td>
          <td>${{job.balance_amount|intcomma}}</td>
          <td><a rel="noopener noreferrer" target="_blank" href="{{job.document_link.url}}">View Contract</a></td>
          <td>
            <form class="payment-history-form" action="/payment_history/p_history_job" method="post">
              {% csrf_token %}
              {% if payment_history_form.errors %}
              <div class="form-messages">
                <p>{{payment_history_form.errors}}</p>
              </div>
              {% endif %}
              {{payment_history_form}}
              <input type="hidden" name="job_house" value="{{job.house}}">
              <input type="hidden" name="job_id" value="{{job.id}}">
              <input type="hidden" name="v-payment-history" value="v-payment-history">
              <a class="custom-btn blue-slide-btn" href="#">
                <p class="submit-p">View Payments</p>
              </a>
            </form>
          </td>
          {% if current_user|in_group:'Customers' %}
          <td>
            <form class="change-job-status-form" action="" method="post">
              {% csrf_token %}
              {% if change_job_status_form.errors %}
              <div class="form-messages">
                <p>{{change_job_status_form.errors}}</p>
              </div>
              {% endif %}
              {{change_job_status_form}}
              <input type="hidden" name="job_house" value="{{job.house}}">
              <input type="hidden" name="job_id" value="{{job.id}}">
              <a class="custom-btn red-slide-btn" href="#">
                <p class="submit-p">Unapprove</p>
              </a>
            </form>
          </td>
          {% endif %}
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div> <!-- /.jobs -->
</div> <!-- /.job-container -->
{% endfor %}
{% endblock content %}
</body>

</html>
