{% extends 'base_login_admin.html' %}

{% load humanize %}
{% load static %}

{% block title %}All Approved Jobs{% endblock title %}

{% block scripts %}
{% endblock scripts %}

{% block body_class %}jobs_admin{% endblock body_class %}

{% block content %}
{% if register_url %}
<div class="signup-link">
  <h3>Welcome to Your Job Dashboard!</h3>
  <p>Send this signup link to your workers, so that they can
  submit jobs and send payment requests to you:</p>
  <a href="{{register_url}}">{{register_url}}</a>
</div>
{% endif %}
{% for w in current_workers %}
<div class="job-container">
  <div class="house">
    <h3 class="house-address">{{w.house.address}}</h3>
  </div>
  <div class="jobs">
    <table class="job-summary">
      <tbody>
        <tr class="job-headings">
          <th>Job ID</th>
          <th>Timestamp</th>
          <th>Company</th>
          <th>Amount</th>
          <th>Total Paid</th>
          <th>Balance</th>
          <th>Contract Link</th>
          <th>Payment History</th>
          <th>Unapprove Job</th>
        </tr>
        {% for job in jobs %}
        {% if job.house.address == w.house.address %}
        <tr class="job-info">
          <td>{{job.id}}</td>
          <td>{{job.start_date}}</td>
          <td>{{job.company}}</td>
          <td>${{job.start_amount|intcomma}}</td>
          <td>${{job.total_paid}}</td>
          <td>${{job.balance_amount|intcomma}}</td>
          <td><a href="{{job.document_link.url}}">View Contract</a></td>
          <td>
            <form class="payment-history-form" action="/payment_history/p_history_job" method="post">
              {% csrf_token %}
              {% if payment_history_form.errors %}
              <div class="form-messages">
                <p>{{payment_history_form.errors}}</p>
              </div>
              {% endif %}
              {{payment_history_form}}
              <input type="hidden" name="job_house" value="{{job.house}}">
              <input type="hidden" name="job_id" value="{{job.id}}">
              <input class="btn btn-primary v-payment-history" type="submit" name="v-payment-history" value="View Payments">
            </form>
          </td>
          <td>
            <form class="change-job-status-form" action="" method="post">
              {% csrf_token %}
              {% if change_job_status_form.errors %}
              <div class="form-messages">
                <p>{{change_job_status_form.errors}}</p>
              </div>
              {% endif %}
              {{change_job_status_form}}
              <input type="hidden" name="job_house" value="{{job.house}}">
              <input type="hidden" name="job_id" value="{{job.id}}">
              <input class="btn btn-primary change-job-status" type="submit" name="" value="Unapprove Job">
            </form>
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div> <!-- /.jobs -->
</div> <!-- /.job-container -->
{% endfor %}
{% endblock content %}
</body>

</html>
