{% extends 'base_login_admin.html' %}

{% load humanize %}
{% load static %}

{% block title %}All Approved Jobs{% endblock title %}

{% block scripts %}
{% endblock scripts %}

{% block body_class %}jobs_admin{% endblock body_class %}

{% block content %}
{% for current_worker in current_workers %}
<div class="job-container">
  <div class="house">
    <h3 class="house-address">{{current_worker.house.address}}</h3>
  </div>
  <div class="jobs">

  </div>
  <table class="job-summary">
    <tr class="job-headings">
      <th>Job ID</th>
      <th>Timestamp</th>
      <th>Company</th>
      <th>Amount</th>
      <th>Total Paid</th>
      <th>Balance</th>
      <th>Contract Link</th>
      <th>Payment History</th>
    </tr>
    {% for job in jobs %}
      {% if job.house.address == current_worker.house.address %}
    <tr class="job-info">
      <td>{{job.id}}</td>
      <td>{{job.start_date}}</td>
      <td>{{job.company}}</td>
      <td>${{job.start_amount|intcomma}}</td>
      <td>${{job.total_paid}}</td>
      <td>${{job.balance|intcomma}}</td>
      <td><a href="{{job.document_link.url}}">View Contract</a></td>
      <td>
        <form class="payment-history-form" action="/payment_history/p_history_job" method="post">
          {% csrf_token %}
          {% if form.errors %}
          <div class="form-messages">
            <p>Please try again.</p>
          </div>
          {% endif %}
          {{payment_history_form}}
          <input type="hidden" name="job_house" value="{{job.house}}">
          <input type="hidden" name="job_id" value="{{job.id}}">
          <input class="btn btn-primary v-payment-history" type="submit" name="" value="View Payments">
        </form>
      </td>
    </tr>
      {% endif %}
    {% endfor %}
  </table>
</div> <!-- /.job-container -->
{% endfor %}
{% endblock content %}
</body>

</html>
