{% extends 'base_login_admin.html' %}

{% load humanize %}
{% load static %}
{% load jobs_admin_group_check %}

{% block title %}Estimates{% endblock title %}

{% block scripts %}
<script type="text/javascript" src="{% static 'jobs_admin/jobs_admin.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
<h2>Estimates from {{start_week}} to {{today}}</h2>
{% for house in houses %}
<div class="job-container">
  <div class="house">
    <h3 class="house-address">{{house.address}}</h3>
  </div>
  <div class="jobs">

  </div>
  <table class="job-summary">
    <tr class="job-headings">
      <th>Job ID</th>
      <th>Timestamp</th>
      <th>Company</th>
      <th>Amount</th>
      <th>Contract Link</th>
      {% if current_user|in_group:'Customers' %}
      <th>Approve Job</th>
      <th>Approve As Payment</th>
      {% endif %}
    </tr>
    <tr class="spacer"></tr>
    {% for job in jobs %}
      {% if job.house.address == house.address %}
    <tr class="job-info">
      <td>{{job.id}}</td>
      <td>{{job.start_date}}</td>
      <td>{{job.company}}</td>
      <td>${{job.start_amount|intcomma}}</td>
      <td><a rel="noopener noreferrer" target="_blank" href="{{job.document_link.url}}">View Contract</a></td>
      {% if current_user|in_group:'Customers' %}
      <td>
        <form class="change-job-status-form" action="" method="post">
          {% csrf_token %}
          {% if change_job_status_form.errors %}
          <div class="form-messages">
            <p>Please try again.</p>
          </div>
          {% endif %}
          {{change_job_status_form}}
          <input type="hidden" name="job_house" value="{{job.house}}">
          <input type="hidden" name="job_id" value="{{job.id}}">
          <input type="hidden" name="change-job-status" value="Approve Job">
          <a class="custom-btn approve-btn" href="#">
            <p class="approve-p">Approve Job</p>
          </a>
        </form>
      </td>
      <td>
        <form class="approve-as-payment-form" action="" method="post">
          {% csrf_token %}
          {% if approve_as_payment_form.errors %}
          <div class="form-messages">
            <p>Please try again.</p>
          </div>
          {% endif %}
          {{approve_as_payment_form}}
          <input type="hidden" name="job_house" value="{{job.house.address}}">
          <input type="hidden" name="job_id" value="{{job.id}}">
          <input type="hidden" name="submit_date" value="{{job.start_date}}">
          <input type="hidden" name="amount" value="{{job.start_amount}}">
          <input type="hidden" name="approve-as-payment" value="approve-as-payment">
          <a class="custom-btn approve-as-payment-btn" href="#">
            <p class="approve-as-payment-p">Approve As Payment</p>
          </a>
        </form>
      </td>
      {% endif %}
    </tr>
      {% endif %}
    {% endfor %}
  </table>
</div> <!-- /.job-container -->
{% endfor %}
{% endblock content %}
</body>

</html>
