{% extends 'base_login_admin.html' %}

{% load humanize %}
{% load static %}

{% block title %}All Proposed Jobs{% endblock title %}

{% block scripts %}
<script type="text/javascript" src="{% static 'jobs_admin/jobs_admin.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
{% for house in houses %}
<div class="job-container">
  <div class="house">
    <h3 class="house-address">{{house.address}}</h3>
  </div>
  <div class="jobs">

  </div>
  <table class="job-summary">
    <tr class="job-headings">
      <th>Job ID</th>
      <th>Timestamp</th>
      <th>Company</th>
      <th>Amount</th>
      <th>Contract Link</th>
      <th>Approve Job</th>
    </tr>
    {% for job in jobs %}
      {% if job.house.address == house.address %}
    <tr class="job-info">
      <td>{{job.id}}</td>
      <td>{{job.start_date}}</td>
      <td>{{job.company}}</td>
      <td>${{job.start_amount|intcomma}}</td>
      <td><a href="{{job.document_link.url}}">View Contract</a></td>
      <td>
        <form class="approve-job-form" action="" method="post">
          {% csrf_token %}
          {% if form.errors %}
          <div class="form-messages">
            <p>Please try again.</p>
          </div>
          {% endif %}
          {{form}}
          <input type="hidden" name="job_house" value="{{job.house}}">
          <input type="hidden" name="job_id" value="{{job.id}}">
          <input class="btn btn-primary approve-job" type="submit" name="" value="Approve Job">
        </form>
      </td>
    </tr>
      {% endif %}
    {% endfor %}
  </table>
</div> <!-- /.job-container -->
{% endfor %}
{% endblock content %}
</body>

</html>
