{% extends 'base_login_admin.html' %}

{% load humanize %}
{% load static %}

{% block title %}All Completed Jobs{% endblock title %}

{% block scripts %}
{% endblock scripts %}

{% block body_class %}jobs_completed{% endblock body_class %}

{% block content %}
<h2>All Completed Jobs</h2>
{% for h in houses %}
<div class="job-container">
  <div class="house">
    <h3 class="house-address">{{h.address}}</h3>
  </div>
  <div class="jobs">
    <table class="job-summary">
      <tbody>
        <tr class="job-headings">
          <th>Job ID</th>
          <th>Timestamp</th>
          <th>Company</th>
          <th>Amount</th>
          <th>Total Paid</th>
          <th>Balance</th>
          <th>Contract Link</th>
          <th>Payment History</th>
        </tr>
        <tr class="spacer"></tr>
        {% for job in completed_jobs %}
        {% if job.house.address == h.address %}
        <tr class="job-info">
          <td>{{job.id}}</td>
          <td>{{job.start_date}}</td>
          <td>{{job.company}}</td>
          <td>${{job.start_amount|intcomma}}</td>
          <td>${{job.total_paid}}</td>
          <td>${{job.balance_amount|intcomma}}</td>
          <td><a href="{{job.document_link.url}}">View Contract</a></td>
          <td>
            <form class="payment-history-form" action="/payment_history/p_history_job" method="post">
              {% csrf_token %}
              {% if payment_history_form.errors %}
              <div class="form-messages">
                <p>{{payment_history_form.errors}}</p>
              </div>
              {% endif %}
              {{payment_history_form}}
              <input type="hidden" name="job_house" value="{{job.house}}">
              <input type="hidden" name="job_id" value="{{job.id}}">
              <input type="hidden" name="v-payment-history" value="v-payment-history">
              <a class="custom-btn blue-slide-btn" href="#">
                <p class="submit-p">View Payments</p>
              </a>
            </form>
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div> <!-- /.jobs -->
</div> <!-- /.job-container -->
{% endfor %}
{% endblock content %}
</body>

</html>
