{% extends 'logged_in_customer.html' %}

{% load humanize %}
{% load static %}
{% load jobs_admin_group_check %}
{% load class_tag %}

{% block page_title %}{{ address }}{% endblock page_title %}
{% block button_with_title %}<a href="#" class="round-btn solid-round-btn send-post-on-click" data-csrfmiddlewaretoken="{{ csrf_token }}" data-house-id="{{ house_id }}" data-url="{% url 'csv_generator:project_details_spreadsheet' %}" name="generate_spreadsheet">Generate Spreadsheet</a>{% endblock button_with_title %}

{% block scripts %}
<script type="text/javascript" src="{% static 'project_details/project_details.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
<div id="spreadhseet-hidden-element" style="display: none;"></div>
<div class="white-block" id="project_details">

  <div class="number-circle-container">
    <h6 class="detail-heading">Budget</h6>
    <div id="activeBorder" class="active-border">
        <div id="circle" class="circle">
            <span class="prec {{ budget_balance_degree }}" id="prec">0%</span>
        </div>
    </div>
    <div class="detail-text-container">
      <span class="detail-value">${{ budget_balance|intcomma }}</span>
    </div>
  </div>

  <div class="row margin-bottom">
    <div class="col-lg-6">
      <div class="col-inner">
        <h6 class="detail-heading">Purchase Price</h6>
        <span class="detail-value">${{ purchase_price|intcomma }}</span>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="col-inner">
        <h6 class="detail-heading">Selling Price</h6>
        <span class="detail-value">${{ after_repair_value|intcomma }}</span>
      </div>
    </div>
  </div>

  <div class="row margin-bottom">
    <div class="col-lg-6">
      <div class="col-inner">
        <h6 class="detail-heading">Total Spent</h6>
        <span class="detail-value">${{ total_spent|intcomma }}</span>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="col-inner">
        <h6 class="detail-heading">Potential Profit</h6>
        <span class="detail-value">${{ potential_profit|intcomma }}</span>
      </div>
    </div>
  </div>

</div>

<div id="expenses-and-jobs">
  {% if expenses_and_jobs %}
    <h2 class="sub-title">Expenses & Approved Jobs</h2>
    {% for item in expenses_and_jobs %}
      {% ifchanged %}
      <div class="item-headings-wrapper container-fluid">
        <ul class="item-headings row">
          <div class="col col-sm-6">
            <li>Status</li>
            <li class="second-heading">
              {% if item|get_class == 'Expenses' %}
                Type
              {% else %}
                Company
              {% endif %}
            </li>
          </div>
          <div class="col col-sm-4">
            <li class="contract_link">Contract Link</li>
            <li>
              Submitted
            </li>
          </div>
          <div class="col col-sm-2">
            <li>Amount</li>
          </div>
        </ul>
      </div>
      {% endifchanged %}

      {# Item Options Forms #}
      {% if current_user|in_group:'Customers' %}
      <div class="option-forms">
        {% if item|get_class == 'Expenses' %}
          {% include 'includes/forms/delete_expense.html' %}
        {% else %}
          {% include 'includes/forms/reject_job.html' %}
        {% endif %}

      </div>
      <div class="popup-forms">
        {% include 'includes/forms/edit_job.html' %}
        <ul class="mobile-option-icons popup animated bounceInUp">

          <li>
            {% if item|get_class == 'Expenses' %}

            <button type="submit" form="delete_exp_form_{{ item.id }}" class="delete-option-m mobile-option-item">
              <span>Delete</span>
              <i class="far fa-trash-alt"></i>
            </button>

            {% else %}

              {% include 'includes/option_items/mobile_options_job.html' %}

            {% endif %}
          </li>

        </ul>
      </div>
      {% endif %}

      <div class="item-container">
        <div class="container-fluid">
          <div class="row">
            <div class="info-group col col-sm-6">
              <ul>
                <li>
                  {# Status #}
                  {% if item|get_class == 'Expenses' %}
                    <div class="status expense">Expense</div>
                  {% elif item|get_class == 'Job' and item.balance1 > 0 %}
                    <div class="status active">Active Job</div>
                  {% else %}
                    <div class="status approved">Job</div>
                  {% endif %}
                </li>
                <span class="info-title">
                  {% if item|get_class == 'Expenses' %}
                    Expense Type
                  {% else %}
                    Company
                  {% endif %}
                </span>
                <li class="info-1">
                  {{ item.expense_type }}
                  {{ item.company }}
                </li>
                <hr>
              </ul>
            </div>
            <div class="info-group col col-sm-4">
              <ul>
                <span class="info-title">Contract</span>
                <li class="info-2">
                  <a rel="noopener noreferrer" target="_blank" href="{{ item.document_link.url }}">View Contract</a>
                </li>
                <hr>
                <span class="info-title">Submitted</span>
                <li class="info-3">
                  {{ item.submit_date|date:'M j, Y' }}
                  {{ item.start_date|date:'M j, Y' }}
                </li>
                <hr>
              </ul>
            </div>
            <div class="info-group col col-sm-2">
              {% if current_user|in_group:'Customers' %}
              <ul>
                <span class="info-title">Amount</span>
                <li class="info-4">
                  ${{ item.amount|intcomma }}
                  {{ item.start_amount|intcomma }}
                </li>
                <hr>
                {# Mobile Option Buttons #}

                <span class="info-title">Options</span>
                <div class="item-options-toggle-mobile">
                  <button class="item-options-toggle-mobile-btn" type="button" name="item-options-toggle-mobile-btn">
                    <i class="fas fa-ellipsis-h"></i>
                  </button>
                </div>

                {# Desktop Options #}
                <div class="item-options-dropdown dropdown">

                  <a class="item-options-toggle dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  {% if item|get_class == 'Expenses' %}
                  <div class="dropdown-menu">
                    <button type="submit" form="delete_exp_form_{{ item.id }}" class="dropdown-item delete-exp-option">Delete</button>
                  </div>
                  {% else %}
                    {% include 'includes/option_items/desktop_options_job.html' %}
                  {% endif %}

                </div>
              </ul>
              {% endif %}
            </div>
          </div>
        </div>
      </div> <!-- /.item-container -->
    {% endfor %}
  </div>
  {% endif %}

  {% if expenses_and_jobs.has_other_pages %}
  <ul class="pagination">
    {% if expenses_and_jobs.has_previous %}
      <li><a href="?page={{ expenses_and_jobs.previous_page_number }}"><i class="fas fa-angle-left"></i></a></li>
    {% else %}
      <li class="disabled"><span><i class="fas fa-angle-left"></i></span></li>
    {% endif %}
    {% for i in expenses_and_jobs.paginator.page_range %}
      {% if expenses_and_jobs.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if expenses_and_jobs.has_next %}
      <li><a href="?page={{ expenses_and_jobs.next_page_number }}"><i class="fas fa-angle-right"></i></a></li>
    {% else %}
      <li class="disabled"><span><i class="fas fa-angle-right"></i></span></li>
    {% endif %}
  </ul>
  {% endif %}
{% endblock content %}
