{% extends 'base_generic.html' %}
{% load static %}
{% block title %}Rehab & Property Management Software{% endblock title %}
{% block scripts %}
<link rel="stylesheet" href="{% static 'customer_register/login.css' %}">
{% endblock scripts %}
{% block body_class %}customer-register{% endblock body_class %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="logo-container">
      <img src="{% static 'website/images/logo-white.png' %}" alt="Nova One Software">
    </div>
    <h2 id="signup-title">
      Get Free Rehab And Property Management Software.<br/>
      No credit card required.
    </h2>
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <form id="register-form" action="{% url 'customer_register:customer-register' %}" method="post" role="form">
                {% csrf_token %}
                {{ user_register_form }}
                {{ customer_user_form }}
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-12">
                      <input type="submit" name="register-submit" id="register-submit" class="standard-btn full-width" value="Get Free Software">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
{% endblock content %}
