<div class="dropdown-menu{% if item.approved == True or payment.approved == True %} dropdown-approved{% else %} dropdown-new{% endif %}">

  {# New #}
  {% if item.approved == False and item.rejected == False or payment.approved == False and payment.rejected == False %}
  <button type="submit" form="approve-payment-form-{{ item.id }}{{ payment.id }}" class="dropdown-item approve-btn payment-option option-item">Approve</button>
  <button type="submit" form="reject-payment-form-{{ item.id }}{{ payment.id }}" class="dropdown-item reject-btn payment-option option-item">Reject</button>

  {# Approved #}
  {% elif item.approved == True and item.rejected == False or payment.approved == True and payment.rejected == False %}
  <button type="submit" form="reject-payment-form-{{ item.id }}{{ payment.id }}" class="dropdown-item reject-btn payment-option option-item">Reject</button>
  <input class="paid_link_upload" name="paid_link" form="upload-document-form-{{ item.id }}{{ payment.id }}" id="paid_link_{{ item.id }}{{ payment.id }}" required type="file">
  <button type="submit" form="upload-document-form-{{ item.id }}{{ payment.id }}" class="dropdown-item upload-btn payment-option">Upload Document</button>

  {# Rejected #}
  {% elif item.rejected == True or payment.rejected == True %}
  <button type="submit" form="approve-payment-form-{{ item.id }}{{ payment.id }}" class="dropdown-item approve-btn payment-option option-item">Approve</button>
  {% endif %}

</div>
