<div class="dropdown-menu
  {% if item.approved == True and item.balance > 0 or job.approved == True and job.balance > 0 %}
  dropdown-active
  {% elif item.approved == True or job.approved == True %}
  dropdown-new-approved
  {% elif item.rejected == True or job.rejected == True %}
  dropdown-rejected
  {% else %}
  dropdown-new-approved
  {% endif %}"
>
  {% if item.approved == True or job.approved == True %}
  <button type="submit" form="reject-form-{{ item.id }}{{ job.id }}" class="dropdown-item reject-btn job-option option-item">Reject</button>
  <a href="/payment-history/p-history-job/{{ item.id }}{{ job.id }}" class="dropdown-item view-payments-btn job-option">View Payments</a>
  {% elif item.rejected == True or job.rejected == True %}
  <button type="submit" form="approve-as-payment-form-{{ item.id }}{{ job.id }}" class="dropdown-item approve-payment-option option-item">Approve Payment</button>
  <button type="submit" form="approve-job-form-{{ item.id }}{{ job.id }}" class="dropdown-item approve-job-option job-option option-item">Approve Job</button>
  {% else %}
  <button type="submit" form="approve-as-payment-form-{{ item.id }}{{ job.id }}" class="dropdown-item approve-payment-option option-item">Approve Payment</button>
  <button type="submit" form="approve-job-form-{{ item.id }}{{ job.id }}" class="dropdown-item approve-job-option job-option option-item">Approve Job</button>
  <button type="submit" form="reject-form-{{ item.id }}{{ job.id }}" class="dropdown-item reject-job-option job-option option-item">Reject</button>
  {% endif %}
  <button class="dropdown-item edit-job-option job-option edit-item-popup">Edit Job</button>
</div>
