{# Approved Item #}
{% if item.approved == True or job.approved == True %}

  <li>
    <button type="submit" form="reject-form-{{ item.id }}{{ job.id }}" class="option-item mobile-option-item reject-option-m popup-remove-trigger">
      <span>Reject</span><i class="option-item fas fa-times"></i>
    </button>
  </li>
  <li>
    <a href="/payment-history/p-history-job/{{ item.id }}{{ job.id }}" class="option-item mobile-option-item view-payments-option-m popup-remove-trigger">
      <span>View Payments</span><i class="fas fa-money-check-alt"></i>
    </a>
  </li>

{# Rejected Item #}
{% elif item.rejected == True or job.rejected == True %}

  <li class="approve-payment-option-m">
    <button type="submit" form="approve-as-payment-form-{{ item.id }}{{ job.id }}" class="option-item mobile-option-item approve-payment-option-m popup-remove-trigger">
      <span>Payment</span><i class="option-item far fa-money-bill-alt"></i>
    </button>
  </li>

  <li>
    <button type="submit" form="approve-job-form-{{ item.id }}{{ job.id }}" class="option-item mobile-option-item approve-option-m popup-remove-trigger">
      <span>Approve</span><i class="option-item fas fa-check"></i>
    </button>
  </li>

{# New Item #}
{% else %}

  <li>
    <button type="submit" form="approve-as-payment-form-{{ item.id }}{{ job.id }}" class="option-item mobile-option-item approve-payment-option-m popup-remove-trigger">
      <span>Payment</span><i class="option-item far fa-money-bill-alt"></i>
    </button>
  </li>

  <li>
    <button type="submit" form="reject-form-{{ item.id }}{{ job.id }}" class="option-item mobile-option-item reject-option-m popup-remove-trigger">
      <span>Reject</span><i class="option-item fas fa-times"></i>
    </button>
  </li>

  <li>
    <button type="submit" form="approve-job-form-{{ item.id }}{{ job.id }}" class="option-item mobile-option-item approve-option-m popup-remove-trigger">
      <span>Approve</span><i class="option-item fas fa-check"></i>
    </button>
  </li>

{% endif %}
<li>
  <button class="edit-item-popup edit-item-option-m mobile-option-item trigger-within-popup">
    <span class="edit-item-popup trigger-within-popup">Edit Job</span><i class="far fa-edit edit-item-popup trigger-within-popup"></i>
  </button>
</li>
