{% extends 'logged_in_customer.html' %}

{% load static %}

{% block title %}Add Expenses{% endblock title %}

{% block scripts %}
{% endblock scripts %}

{% block body_class %}add_house{% endblock body_class %}
{% block page_title %}Add Expense{% endblock page_title %}
{% block content %}
<div class="form-wrapper">
  <div class="panel-heading">
    <p id="add-expense-desc">
      Add expenses by inputing an amount,
      choosing a type, and uploading a file.
    </p>
  </div>
  <div class="panel-body">
    <form id="add-expense-form" class="add-form" action="" method="post" role="form" enctype="multipart/form-data">
      {% csrf_token %}

      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</li>
          {% endfor %}
      </ul>
      {% endif %}

      {% if add_expense_form.errors %}
      <div class="form-messages">
        <p>{{add_expense_form.errors}}</p>
      </div>
      {% endif %}

      <div class="input-label-wrap">
        <div class="label-wrap">{{ add_expense_form.house.label_tag }}</div>
        <div class="input-wrap input-wrap-select"><i class="fas fa-home"></i>{{ add_expense_form.house }}</div>
      </div>

      <div class="input-label-wrap">
        <div class="label-wrap">{{ add_expense_form.amount.label_tag }}</div>
        <div class="input-wrap"><i class="fas fa-dollar-sign"></i>
          <input type="number" name="amount" value="" step="0.01" required="" id="id_amount">
        </div>
      </div>

      <div class="input-label-wrap">
        <div class="label-wrap">{{ add_expense_form.expense_type.label_tag }}</div>
        <div class="input-wrap input-wrap-select"><i class="fas fa-tags"></i>{{ add_expense_form.expense_type }}</div>
      </div>

      <div class="input-label-wrap">
        <div class="label-wrap">{{ add_expense_form.description.label_tag }}</div>
        <div class="input-wrap">{{ add_expense_form.description }}</div>
      </div>

      <div class="input-label-wrap">
        <div class="label-wrap">{{ add_expense_form.memo.label_tag }}</div>
        <div class="input-wrap">{{ add_expense_form.memo }}</div>
      </div>

      <div class="input-label-file-wrap">
        <div class="label-wrap">
          {{ add_expense_form.document_link.label_tag }}
        </div>
        <div class="file-wrap">
          <i class="fas fa-upload"></i>
          <button type="button" class="file-upload-btn">Upload File</button>
          {{ add_expense_form.document_link }}
          <div id="file-input-message"></div>
        </div>
      </div>

      <div class="inputGroup">
        <input name="pay_this_week" id="id_pay_this_week" type="checkbox">
        <label for="id_pay_this_week">Pay This Week?</label>
      </div>

      <input class="form-submit-btn" type="submit" value="Add Expense">
    </form>
  </div>
</div>
{% endblock content %}
