{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% comment %}
  	IMPORTANT: Paths to files on production server need the folder's name they are in prepended
  	to them. Ex: 'logged-in.js' becomes 'login/logged-in.js'
  {% endcomment %}
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block title %}{% endblock title %}</title>
    <!-- Loader -->
    <link rel="stylesheet" href="{% static 'loader.css' %}?v=1.0" />
    <script async src="{% static 'loader.js' %}?v=1.0" type="text/javascript"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
		<script defer src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.4.1/js/all.js" integrity="sha384-L469/ELG4Bg9sDQbl0hvjMq8pOcqFgkSpwhwnslzvVVGpDjYJ6wJJyYjvG3u8XW7" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script defer src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'logged-in.css' %}?v=1.49" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300" />
    <script defer src="{% static 'logged-in.js' %}?v=1.21" type="text/javascript"></script>

    {% if request.path == '/search/' %}
    <script defer src="{% static 'ajax_search.js' %}?v=1.2" type="text/javascript"></script>
    {% endif %}

    {% if request.path == '/jobs-admin/' or request.path == '/payments/' or request.path == '/search/' %}
    <script defer src="{% static 'search_submit/search_submit.js' %}?v=1.2"></script>
    <script defer src="{% static 'ajax_form_submit.js' %}?v=1.10" type="text/javascript"></script>
    {% endif %}

    <script defer src="{% static 'form.js' %}?v=1.16" type="text/javascript"></script>
    <script defer src="{% static 'item_form_popup.js' %}?v=1.15" type="text/javascript"></script>

    {% block scripts %}
    {% endblock scripts %}
  </head>
  <body style="visibility: hidden;" class="{% block body_class %}{% endblock body_class %}">
    <!--Scroll Up Button-->
    <a href="#" id="scroll"><span></span></a>
    <!--End Scroll Up Button-->
    <div id="loader">
      <div id="particles-background" class="vertical-centered-box"></div>
      <div id="particles-foreground" class="vertical-centered-box"></div>
      <div class="vertical-centered-box">
        <div class="content">
          <div class="loader-circle"></div>
          <div class="loader-line-mask">
            <div class="loader-line"></div>
          </div>
          <svg width="36" viewBox="0 0 36 20" id="prism-logo">
            <path id="prism-logo-p2" d="M2.000,0.000 C2.000,0.000 21.000,20.000 21.000,20.000 C21.000,20.000 34.000,20.000 34.000,20.000 C34.000,20.000 14.000,0.000 14.000,0.000 C14.000,0.000 2.000,0.000 2.000,0.000 Z" fill="rgba(255,255,255,.7)"/>
            <path id="prism-logo-p1" d="M11.957,2.070 C11.957,0.913 12.680,0.001 14.056,0.001 C14.135,0.001 2.840,0.001 2.099,0.001 C1.359,0.001 0.000,0.814 0.000,2.070 C0.000,3.327 0.000,20.001 0.000,20.001 C0.000,20.001 11.957,20.001 11.957,20.001 C11.957,20.001 11.957,11.414 11.957,2.070 Z" fill="#fff"/>
            <path id="prism-logo-p3" d="M24.007,17.933 C24.007,19.090 23.286,20.001 21.913,20.001 C21.835,20.001 33.167,20.001 33.906,20.001 C34.645,20.001 36.000,19.189 36.000,17.933 C36.000,16.676 36.000,0.001 36.000,0.001 C36.000,0.001 24.007,0.001 24.007,0.001 C24.007,0.001 24.007,8.588 24.007,17.933 Z" fill="#fff"/>
          </svg>
        </div>
      </div>
    </div>
    {% block after_loader %}{% endblock after_loader %}
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div class="close-nav"><i class="fa fa-times"></i></div>
            <ul class="sidebar-nav">
              {% block menu_options %}
              {% endblock menu_options %}
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

          <div id="overlay_id" class="overlay">

            {# Send Data Form #}
            {% if request.path == '/jobs-admin/' or request.path == '/payments/' %}
              <form class="popup" id="send-data-form" action="{% url 'send_data' %}" method="post">
                <button class="exit-on-click">
                  <i id="send-data-exit" class="fas fa-times popup-remove-trigger"></i>
                </button>
                <h2>Send Data</h2>
                <p>Send the data on this page to somebody.</p>
                {% csrf_token %}
                {% if send_data_form.errors %}
                <div class="form-messages">
                  <p>{{ send_data_form.errors }}</p>
                </div>
                {% endif %}
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {{ send_data_form.send_to.label_tag }}
                {{ send_data_form.send_to }}

                {{ send_data_form.message.label_tag }}
                {{ send_data_form.message }}

                <div class="inputGroup">
                  {{ send_data_form.approved }}
                  <label for="id_approved">
                    {% if request.path == '/jobs-admin/' %}
                      Active
                    {% else %}
                      Approved
                    {% endif %}
                  </label>
                </div>
                <div class="inputGroup">
                  {{ send_data_form.rejected }}
                  {{ send_data_form.rejected.label_tag }}
                </div>
                <div class="inputGroup">
                  {{ send_data_form.new }}
                  {{ send_data_form.new.label_tag }}
                </div>
                {% if request.path == '/jobs-admin/' %}
                <div class="inputGroup">
                  {{ send_data_form.completed }}
                  {{ send_data_form.completed.label_tag }}
                </div>
                {% endif %}
                <input type="hidden" name="path" value="{{ request.path }}">
                <input id="send-data-submit" name="form-submit-btn" class="form-submit-btn" value="Send Data" type="submit">
              </form>
            {% endif %}

            {% if request.path == '/add-expense/' or request.path == '/addjob/' or request.path == '/jobs-admin/' or request.path == '/payments/' %}
              <div id="sending-data-popup" class="popup">
                <h3>Sending data...</h3>

                <div class="sending-data-container">
                  <div class="sending-data-icon-container">
                    <div class="dot dot-1"></div>
                    <div class="dot dot-2"></div>
                    <div class="dot dot-3"></div>
                  </div>

                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                    <defs>
                      <filter id="goo">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -7"/>
                      </filter>
                    </defs>
                  </svg>
                </div>

              </div>
            {% endif %}

          </div>

          <div class="max-width-container">
            <div class="container-fluid">

                <div class="btn-options-container{% if request.path == '/jobs/' %} btn-options-container-worker{% endif %}">
                  {% block button_options %}
                  {% endblock button_options %}
                </div>

                <div class="title-container">
                  {% block back_button %}{% endblock back_button %}
                  <h2 class="page-title">{% block page_title %}{% endblock page_title %}</h2>
                  {% block button_with_title %}{% endblock button_with_title %}
                </div>
                <hr>

                <div class="content-wrapper">
                  {% block content %}
                  {% endblock content %}
                </div>

            </div>
          </div><!-- /.max-width-container -->
        </div><!-- /#page-content-wrapper -->
    </div><!-- /#wrapper -->
    {% block body_end %}
    {% endblock %}
  </body>
  {% comment %}
    For "Flash Of Unstyled Content"
  {% endcomment %}
  <noscript>
    <style>
      body { visibility: visible; }
    </style>
</noscript>
</html>
{% block html_end %}
{% endblock %}
