{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock title %}</title>
    <!--jQuery-->
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous" defer>
    </script>
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous" defer></script>
    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'logged-in.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300">
    <script src="{% static 'logged-in.js' %}" type="text/javascript" defer></script>
    {% block scripts %}
    {% endblock scripts %}
</head>
<body class="{% block body_class %}{% endblock body_class %}">
  <div id="wrapper" class="toggled">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
          <div class="close-nav" href="#"><i class="fa fa-times"></i></div>
          <ul class="sidebar-nav">
              <li>
                <a{% if request.path == '/jobs_admin/' %} class="active"{% endif %} href="/jobs_admin">
                  <i class="far fa-handshake"></i>
                  Active Jobs
                </a>
              </li>
              <li>
                <a{% if request.path == '/jobs_admin/proposed_jobs' %} class="active"{% endif %} href="/jobs_admin/proposed_jobs">
                  <i class="fas fa-clipboard-list"></i>
                  Estimates
                </a>
              </li>
              <li>
                <a{% if request.path == '/payment_requests/unapproved_payments' %} class="active"{% endif %} href="/payment_requests/unapproved_payments">
                  <i class="fas fa-hand-holding-usd"></i>
                  Payment Requests
                </a>
              </li>
              <li>
                <a{% if request.path == '/payment_requests/approved_payments' %} class="active"{% endif %} href="/payment_requests/approved_payments">
                  <i class="far fa-credit-card"></i>
                  Payments for This Week
                </a>
              </li>
              <li>
                <a{% if request.path == '/jobs_complete/' %} class="active"{% endif %} href="/jobs_complete">
                  <i class="fas fa-check"></i>
                  Completed Jobs
                </a>
              </li>
              <li>
                <a{% if request.path == '/add_house/' %} class="active"{% endif %} href="/add_house">
                  <i class="fas fa-home"></i>
                  Add House
                </a>
              </li>
          </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
          <div class="container-fluid">
              <div class="btn-options-container">
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
                <a href="/jobs_admin" class="btn btn-primary" id="view-job">View Jobs</a>
                <form class="download-jobs-form" action="/download_data/" method="post">
                  {% csrf_token %}
                  {% if download_data_form.errors %}
                  <div class="form-messages">
                    <p>{{download_data_form.errors}}</p>
                  </div>
                  {% endif %}
                  {{download_data_form}}
                  <input type="hidden" name="job_house" value="{{p.job.house}}">
                  <input id="download-jobs" class="btn btn-primary" type="submit" value="Download All Data">
                </form>
              </div>
              {% block content %}
              {% endblock content %}
          </div>
      </div>
      <!-- /#page-content-wrapper -->
  </div><!-- /#wrapper -->

  {% block body_end %}
  {% endblock %}
</body>

</html>
