{% extends 'base_logged_in.html' %}
{% block menu_options %}
<li>
	<a{% if request.path == '/jobs/' %} class="active"{% endif %} href="/jobs">
		<i class="far fa-handshake"></i>
		View Jobs
	</a>
</li>
<li>
	<a{% if request.path == '/addjob/' %} class="active"{% endif %} href="/addjob">
		<i class="far fa-plus-square"></i>
		Add New Job
	</a>
</li>
<li>
		<a href="/accounts/logout">
			<i class="fas fa-sign-out-alt"></i>
			Logout
		</a>
</li>
{% endblock menu_options %}
{% block button_options %}
<a href="#" class="custom-btn blue-slide-btn" id="menu-toggle"><p>Menu</p></a>
<a href="/addjob" class="custom-btn red-slide-btn" id="add-job"
data-step="3" data-intro="Click this button to add estimates or jobs you have completed">
	<p>Add Job</p>
</a>
{% endblock button_options %}
