{% extends 'base_logged_in.html' %}
{% load jobs_admin_group_check %}

{% block after_loader %}
	<div id="overlay_id" class="overlay">

		{# Send Data Form #}
		{% if request.path == '/jobs-admin/' or request.path == '/payments/' %}
			<form class="popup" id="send-data-form" action="{% url 'send_data' %}" method="post">
				<div class="exit-on-click">
					<i id="send-data-exit" class="fas fa-times popup_remove_trigger"></i>
				</div>
				<h2>Send Data</h2>
				<p>Send the data on this page to somebody.</p>
				{% csrf_token %}
				{% if send_data_form.errors %}
				<div class="form-messages">
					<p>{{send_data_form.errors}}</p>
				</div>
				{% endif %}
				{% if messages %}
				<ul class="messages">
						{% for message in messages %}
						<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</li>
						{% endfor %}
				</ul>
				{% endif %}
				{{ send_data_form }}
				<input type="hidden" name="path" value="{{request.path}}">
				<input id="send-data-submit" class="form-submit-btn" value="Send Data" type="submit">
			</form>
		{% endif %}

		{% if request.path == '/add-expense/' or request.path == '/addjob/' %}
			<div class="popup sending-data">
				<h3>Sending data...</h3>

				<div class="sending-data-container">
					<div class="sending-data-icon-container">
					  <div class="dot dot-1"></div>
					  <div class="dot dot-2"></div>
					  <div class="dot dot-3"></div>
					</div>

					<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
					  <defs>
					    <filter id="goo">
					      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
					      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -7"/>
					    </filter>
					  </defs>
					</svg>
				</div>

			</div>
		{% endif %}

	</div>
{% endblock after_loader %}

{% block menu_options %}
{% if current_user|in_group:'Customers' %}
	<li>
		<a{% if request.path == '/jobs-admin/' %} class="active"{% endif %} href="/jobs-admin/">
			<i class="fas fa-clipboard-list"></i>
			Jobs
		</a>
	</li>

	<li>
		<a{% if request.path == '/payments/' %} class="active"{% endif %} href="/payments">
			<i class="far fa-credit-card"></i>
			Payments for This Week
		</a>
	</li>

	<li>
		<a{% if request.path == '/add-expense/' %} class="active"{% endif %} href="/add-expense">
			<i class="fas fa-file-invoice-dollar"></i>
			Add Expense
		</a>
	</li>

	<li>
		<a{% if request.path == '/add-house/' %} class="active"{% endif %} href="/add-house">
			<i class="fas fa-folder-plus"></i>
			Add Project
		</a>
	</li>

	<li>
		<a{% if request.path == '/projects/' %} class="active"{% endif %} href="/projects">
			<i class="fas fa-home"></i>
			Projects
		</a>
	</li>
{% else %}
<li>
	<a{% if request.path == '/payments/' %} class="active"{% endif %} href="/payments">
		<i class="far fa-credit-card"></i>
		Payments for This Week
	</a>
</li>
{% endif %}
{% endblock menu_options %}

{% block button_options %}

	<div class="left-options-container">
		{# Menu Button #}
		<a href="#" class="round-btn solid-round-btn" id="menu-toggle">Menu</a>

		{# Drop Down Options Menu #}
		<div id="options-dropdown" class="dropdown">
			<a href="#" class="round-btn dropdown-toggle" id="options" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">
					<button form="download-data-form" type="submit">Download Data</button>
				</a>

				{% if request.path == '/jobs-admin/' or request.path == '/payments/' %}
				<a  id="send-data-btn" class="dropdown-item popup-trigger" href="#">Send Data</a>
				{% endif %}

			</div>
		</div>
	</div> <!--/.left-options-container-->

	<div class="right-options-container">
		{# Download Data Form #}
		<form id="download-data-form" class="download-data-form" action="/download-data/" method="post">
			{% csrf_token %}
			{% if download_data_form.errors %}
			<div class="form-messages">
				<p>{{download_data_form.errors}}</p>
			</div>
			{% endif %}
			{{download_data_form}}
			<input type="hidden" name="job_house" value="{{p.job.house}}">
		</form>

		<form id="search-form" role="form" action="{% url 'search' %}" method="post">
			{% csrf_token %}
			<div id="search-wrap">
				<i class="fas fa-search"></i>
				<input name="search"
						 id="search"
						 type="search"
						 placeholder="Search"
						 ic-post-to="{% url 'search-ajax' %}"
						 ic-trigger-on="keyup changed"
						 ic-trigger-delay="300ms"
						 ic-target="#search-result-container"/>
			</div>
			<button class="round-btn" type="submit">Submit</button>
		</form>
		<div id="search_trigger">
			<i class="fas fa-search popup_remove_trigger"></i>
		</div>
	</div><!--/.right-options-container-->
{% endblock button_options %}
