{% extends 'base_logged_in.html' %}
{% load jobs_admin_group_check %}
{% block menu_options %}
{% if current_user|in_group:'Customers' %}
	<li>
		<a{% if request.path == '/jobs_admin/' %} class="active"{% endif %} href="/jobs_admin">
			<i class="far fa-handshake"></i>
			Active Jobs
		</a>
	</li>
	<li>
		<a{% if request.path == '/jobs_admin/proposed_jobs' %} class="active"{% endif %} href="/jobs_admin/proposed_jobs">
			<i class="fas fa-clipboard-list"></i>
			Estimates
		</a>
	</li>
	<li>
		<a{% if request.path == '/payment_requests/unapproved_payments' %} class="active"{% endif %} href="/payment_requests/unapproved_payments">
			<i class="fas fa-hand-holding-usd"></i>
			Payment Requests
		</a>
	</li>
	<li>
		<a{% if request.path == '/payment_requests/approved_payments' %} class="active"{% endif %} href="/payment_requests/approved_payments">
			<i class="far fa-credit-card"></i>
			Payments for This Week
		</a>
	</li>
	<li>
		<a{% if request.path == '/jobs_complete/' %} class="active"{% endif %} href="/jobs_complete">
			<i class="fas fa-check"></i>
			Completed Jobs
		</a>
	</li>
	<li>
		<a{% if request.path == '/projects/' %} class="active"{% endif %} href="/projects">
			<i class="fas fa-home"></i>
			Projects
		</a>
	</li>
{% else %}
<li>
	<a{% if request.path == '/payment_requests/approved_payments' %} class="active"{% endif %} href="/payment_requests/approved_payments">
		<i class="far fa-credit-card"></i>
		Payments for This Week
	</a>
</li>
{% endif %}
{% endblock menu_options %}
	{% block button_options %}
	<a href="#" class="custom-btn blue-slide-btn" id="menu-toggle"><p>Menu</p></a>
	<form class="download-jobs-form" action="/download_data/" method="post">
		{% csrf_token %}
		{% if download_data_form.errors %}
		<div class="form-messages">
			<p>{{download_data_form.errors}}</p>
		</div>
		{% endif %}
		{{download_data_form}}
		<input type="hidden" name="job_house" value="{{p.job.house}}">
		<a class="custom-btn red-slide-btn" href="#">
			<p class="submit-p">Download Data</p>
		</a>
	</form>
	{% if request.path == '/projects/' %}
	<a href="/add_house" class="custom-btn blue-slide-btn" id="add-project-btn"><p>Add Project</p><i class="fas fa-plus"></i></a>
	{% endif %}
	<form id="search-form" role="form" action="{% url 'search' %}" method="post">
		{% csrf_token %}
		<div id="search-wrap">
			<i class="fas fa-search"></i>
			<input name="search"
		       id="search"
		       type="search"
		       placeholder="Search"
		       ic-post-to="{% url 'search-ajax' %}"
		       ic-trigger-on="keyup changed"
		       ic-trigger-delay="300ms"
		       ic-target="#search-result-container"/>
		</div>
		<button class="custom-btn approve-btn" type="submit">
			<p>Submit</p>
		</button>
	</form>
	<div id="search-result-container"></div>
{% endblock button_options %}
