{% extends 'base_logged_in.html' %}
{% block after_loader %}
	<div id="overlay_id" class="overlay">

		{# Sending Data Form #}
		{% if request.path == '/addjob/' %}
			<div class="popup sending-data">
				<h3>Sending data...</h3>

				<div class="sending-data-container">
					<div class="sending-data-icon-container">
					  <div class="dot dot-1"></div>
					  <div class="dot dot-2"></div>
					  <div class="dot dot-3"></div>
					</div>

					<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
					  <defs>
					    <filter id="goo">
					      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
					      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -7"/>
					    </filter>
					  </defs>
					</svg>
				</div>

			</div>
		{% endif %}

	</div>
{% endblock after_loader %}

{% block menu_options %}
<li>
	<a{% if request.path == '/jobs/' %} class="active"{% endif %} href="/jobs">
		<i class="far fa-handshake"></i>
		View Jobs
	</a>
</li>

<li>
	<a{% if request.path == '/addjob/' %} class="active"{% endif %} href="/addjob">
		<i class="far fa-plus-square"></i>
		Add New Job
	</a>
</li>

<li>
		<a href="/accounts/logout">
			<i class="fas fa-sign-out-alt"></i>
			Logout
		</a>
</li>
{% endblock menu_options %}

{% block button_options %}
<a href="#" class="round-btn solid-round-btn" id="menu-toggle">Menu</a>
<a href="/addjob" class="round-btn{% if request.path == '/addjob/' %} display-none{% endif %}" id="add-job"
data-step="3" data-intro="Click this button to add estimates or jobs you have completed">Add Job</a>
{% endblock button_options %}
