{% extends 'base_logged_in.html' %}
{% load jobs_admin_group_check %}

{% block after_loader %}
{% endblock after_loader %}

{% block menu_options %}
{% if current_user|in_group:'Customers' %}
	<li>
		<a{% if request.path == '/jobs-admin/' %} class="active"{% endif %} href="/jobs-admin/">
			<i class="fas fa-clipboard-list"></i>
			Jobs
		</a>
	</li>

	<li>
		<a{% if request.path == '/payments/' %} class="active"{% endif %} href="/payments">
			<i class="far fa-credit-card"></i>
			Payments for This Week
		</a>
	</li>

	<li>
		<a{% if request.path == '/add-expense/' %} class="active"{% endif %} href="/add-expense">
			<i class="fas fa-file-invoice-dollar"></i>
			Add Expense
		</a>
	</li>

	<li>
		<a{% if request.path == '/add-house/' %} class="active"{% endif %} href="/add-house">
			<i class="fas fa-folder-plus"></i>
			Add Project
		</a>
	</li>

	<li>
		<a{% if request.path == '/addjob/' %} class="active"{% endif %} href="/addjob">
			<i class="far fa-plus-square"></i>
			Add New Job
		</a>
	</li>

	<li>
		<a{% if request.path == '/projects/' %} class="active"{% endif %} href="/projects">
			<i class="fas fa-home"></i>
			Projects
		</a>
	</li>
{% else %}
<li>
	<a{% if request.path == '/payments/' %} class="active"{% endif %} href="/payments">
		<i class="far fa-credit-card"></i>
		Payments for This Week
	</a>
</li>
{% endif %}
{% endblock menu_options %}

{% block button_options %}

	<div class="left-options-container">
		{# Menu Button #}
		<a href="#" class="round-btn solid-round-btn" id="menu-toggle">Menu</a>

		{# Drop Down Options Menu #}
		<div id="options-dropdown" class="dropdown">
			<a href="#" class="round-btn dropdown-toggle" id="options" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">
					<button form="download-data-form" type="submit">Download Data</button>
				</a>

				{% if request.path == '/jobs-admin/' or request.path == '/payments/' %}
				<a  id="send-data-btn" class="dropdown-item popup-trigger" href="#">Send Data</a>
				{% endif %}

			</div>
		</div>
	</div> <!--/.left-options-container-->

	<div class="right-options-container">
		{# Download Data Form #}
		<form id="download-data-form" class="download-data-form" action="/download-data/" method="post">
			{% csrf_token %}
			{% if download_data_form.errors %}
			<div class="form-messages">
				<p>{{download_data_form.errors}}</p>
			</div>
			{% endif %}
			{{download_data_form}}
			<input type="hidden" name="job_house" value="{{p.job.house}}">
		</form>

		<form id="search-form" role="form" action="{% url 'search_submit:search' %}" method="get">

			<div id="search-wrap">
				<i class="fas fa-search"></i>
				<input name="search"
						 id="search"
						 type="search"
						 tabindex="-1"
						 placeholder="Search"
						 />
			</div>
			<button class="round-btn" type="submit">Submit</button>
		</form>
		<button id="search_trigger" class="popup-trigger-search">
			<i class="fas fa-search popup-trigger-search"></i>
		</button>
	</div><!--/.right-options-container-->
{% endblock button_options %}
