{% extends 'logged_in_customer.html' %}

{% block scripts %}
{% endblock scripts %}

{% block page_title %}{# In base_logged_in.html #}{% endblock page_title %}
{% block button_with_title %}{# In base_logged_in.html #}{% endblock button_with_title %}

{% block content %}

  {% if narchived_count != 0 or archived_count != 0 %}
    <div class="item-headings-wrapper container-fluid">
      <ul class="item-headings row">
        <div class="col col-sm-6">
          <li>{% block heading_status %}{% endblock heading_status %}</li>
          <li>{% block item_heading_1 %}{% endblock item_heading_1 %}</li>
        </div>
        <div class="col col-sm-4">
          <li>{% block item_heading_2 %}{% endblock item_heading_2 %}</li>
          <li>{% block item_heading_3 %}{% endblock item_heading_3 %}</li>
        </div>
        <div class="col col-sm-2">
          <li>{% block item_heading_4 %}{% endblock item_heading_4 %}</li>
        </div>
      </ul>
    </div>
  {% endif %}

  {% block item_loop %}
  {% endblock item_loop %}

{% endblock content %}
