{% load jobs_admin_group_check %}

{% comment %}
  Standard item display with 6 item headings.
  You must pass the houses as 'houses', the items as 'items', and the user in
  as 'current_user' for this template to work.

  These blocks MUST be filled for the template to look proper:
  1. item_heading_1   7. option_forms                12. block item_heading_3_m    18. mobile_option_btns
  2. item_heading_2   8. item_status                 13. block item_heading_3_m_v  19. desktop_option_btns
  3. item_heading_3   9. block item_heading_1_m      14. block item_heading_4_m
  4. item_heading_4   10. block item_heading_1_m_v   15. block item_heading_4_m_v
  5. item_heading_5   11. block item_2               16. block item_heading_5_m
  6. item_heading_6                                  17. block item_heading_5_m_v
{% endcomment %}

{% if items %}
  {% for house in houses %}

    <h3 class="sub-title">{{ house.address }}</h3>

    {% if forloop.first %}
    <div class="item-headings-wrapper container-fluid">
      <ul class="item-headings row">
        <div class="col col-sm-6">
          <li>{% block item_heading_1 %}{% endblock item_heading_1 %}</li>
          <li class="second-heading">{% block item_heading_2 %}{% endblock item_heading_2 %}</li>
          <li>{% block item_heading_3 %}{% endblock item_heading_3 %}</li>
        </div>
        <div class="col col-sm-4">
          <li class="contract_link">{% block item_heading_4 %}{% endblock item_heading_4 %}</li>
          <li>{% block item_heading_5 %}{% endblock item_heading_5 %}</li>
        </div>
        <div class="col col-sm-2">
          <li>{% block item_heading_6 %}{% endblock item_heading_6 %}</li>
        </div>
      </ul>
    </div>
    {% endif %}

    {% for item in items %}
      {% if item.house == house %}

        {# Item Options Forms #}
        {% if current_user|in_group:'Customers' %}
          <div class="option-forms">
            {% block option_forms %}
            {% endblock option_forms %}
          </div>
          <div class="popup-forms">
            {% block popup_forms %}
            {% endblock popup_forms %}
          </div>
        {% endif %}

        <div class="item-container">
          <div class="container-fluid">
            <div class="row">
              <div class="info-group col col-sm-6">
                <ul>
                  <li>
                    {# Item Status #}
                    {% block item_status %}
                    {% endblock item_status %}
                  </li>
                  <span class="info-title">{% block item_heading_1_m %}{% endblock item_heading_1_m %}</span>
                  <li class="info-1">{% block item_heading_1_m_v %}{% endblock item_heading_1_m_v %}</li>
                  <hr>
                  {% block item_2_m %}
                  {% endblock item_2_m %}
                </ul>
              </div>
              <div class="info-group col col-sm-4">
                <ul>
                  <span class="info-title">{% block item_heading_3_m %}{% endblock item_heading_3_m %}</span>
                  <li class="info-2">
                    {% block item_heading_3_m_v %}{% endblock item_heading_3_m_v %}
                  </li>
                  <hr>
                  <span class="info-title">{% block item_heading_4_m %}{% endblock item_heading_4_m %}</span>
                  <li class="info-3">
                    {% block item_heading_4_m_v %}{% endblock item_heading_4_m_v %}
                  </li>
                  <hr>
                </ul>
              </div>
              <div class="info-group col col-sm-2">
                {% if current_user|in_group:'Customers' %}
                <ul>
                  <span class="info-title">{% block item_heading_5_m %}{% endblock item_heading_5_m %}</span>
                  <li class="info-4">{% block item_heading_5_m_v %}{% endblock item_heading_5_m_v %}</li>
                  <hr>
                  {# Mobile Option Buttons #}
                  <ul class="list-inline mobile-option-icons">
                    {% block mobile_option_btns %}
                    {% endblock mobile_option_btns %}
                  </ul>
                  {# Desktop Options #}
                  <div class="item-options-dropdown dropdown">

                    <a class="item-options-toggle dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </a>

                    {% block desktop_option_btns %}
                    {% endblock desktop_option_btns %}

                  </div>
                </ul>
                {% endif %}
              </div>
            </div>
          </div>
        </div> <!-- /.item-container -->
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}
