{% extends "base_generic.html" %}
{% load static %}
{% block title %}Thank You{% endblock title %}
{% block html_class %}thank-you{% endblock html_class %}
{% block scripts %}
<link rel="stylesheet" href="{% static 'thank-you.css' %}">
{% endblock scripts %}
{% block body_class %}thank-you{% endblock body_class %}
{% block content %}
<div class="content-center">
  <h1>Thank You</h1>
  <p>{% block thank_you_message %}{% endblock %}</p>
  <a class="btn btn-primary" href="{% block return_link %}{% endblock %}">{% block return_message %}{% endblock %}</a>
</div>
{% endblock %}
