{% extends 'logged_in_customer.html' %}
{% load static %}
{% block title %}Add Project{% endblock title %}
{% block body_class %}add_house{% endblock body_class %}
{% block content %}
<div class="form-wrapper">
  <div class="panel-heading">
    <h3 id="add-house-heading">Add Project</h3>
    <p id="add-house-desc">
      Add projects here that you have or will
      have workers working on.
    </p>
    <hr>
  </div>
  <div class="panel-body">
    <form id="add-house-form" class="add-form" action="" method="post" role="form" enctype="multipart/form-data">
      {% csrf_token %}
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% if form.errors %}
      <div class="form-messages">
        <p>{{ form.errors }}</p>
      </div>
      {% endif %}

      {{ form.address.label_tag }}
      <div class="input-wrap"><i class="fas fa-home"></i>{{ form.address }}</div>

      {{ form.purchase_price.label_tag }}
      <div class="input-wrap"><i class="fas fa-dollar-sign"></i>{{ form.purchase_price }}</div>

      {{ form.profit.label_tag }}
      <div class="input-wrap"><i class="fas fa-dollar-sign"></i>{{ form.profit }}</div>

      {{ form.after_repair_value.label_tag }}
      <div class="input-wrap"><i class="fas fa-dollar-sign"></i>{{ form.after_repair_value }}</div>

      <input class="form-submit-btn" type="submit" value="Add House">
    </form>
  </div>
</div>
{% endblock content %}
