{% extends 'base_login_admin.html' %}

{ # allow static resources to be loaded from each app's 'static' folder #}
{% load static %}

{ # text that goes to the <title> tag #}
{% block title %}Add Houses{% endblock title %}

{% block content %}
<div class="form-wrapper">
  <div class="panel-heading">
    <h3 id="add-house-heading">Add Property</h3>
    <p id="add-house-desc">
      Add properties here that you have or will
      have workers working on. You can add multiple
      properties by seperating them with a semicolon.
      Ex: 123 Old Walk Way; 21 New Street
    </p>
    <hr>
  </div>
  <div class="panel-body">
    <form id="add-house-form" action="" method="post" role="form" enctype="multipart/form-data">
      {% csrf_token %}
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% if form.errors %}
      <div class="form-messages">
        <p>{{form.errors}}</p>
      </div>
      {% endif %}
      {{form}}
      <input class="btn btn-primary" type="submit" value="Add House">
    </form>
  </div>
</div>
{% endblock content %}
