{% extends 'base_login_admin.html' %}

{% load humanize %}
{% load static %}
{% load payment_requests_group_check %}

{% block title %}All Approved Payments{% endblock title %}

{% block scripts %}
<script type="text/javascript" src="{% static 'payment_requests/payment_requests.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
<h2>Payments for This Week From {{start_week}} To {{today}}</h2>
{% for house in houses %}
<div class="job-container">
  <div class="house">
    <h3 class="house-address">{{house.address}}</h3>
  </div>
  <div class="jobs">

  </div>
  <table class="job-summary">
    <tr class="job-headings">
      <th>Job ID</th>
      <th>Timestamp</th>
      <th>Company</th>
      <th>Amount</th>
      <th>Contract Link</th>
      <th>Document Link</th>
      {% if current_user|in_group:'Customers' %}
      <th>Unapprove Payment</th>
      {% endif %}
      <th>Upload Document</th>
    </tr>
    <tr class="spacer"></tr>
    {% for p in payments %}
      {% if p.job.house.address == house.address %}
    <tr class="job-info">
      <td>{{p.job.id}}</td>
      <td>{{p.approved_date}}</td>
      <td>{{p.job.company}}</td>
      <td>${{p.amount|intcomma}}</td>
      <td><a rel="noopener noreferrer" target="_blank" href="{{p.job.document_link.url}}">View Contract</a></td>
      <td><a rel="noopener noreferrer" {% if p.document_link.url != None %}target="_blank"{% endif %} href="{% if p.document_link.url != None %}{{p.document_link.url}}{% else %}#{% endif %}">View Document</a></td>
      {% if current_user|in_group:'Customers' %}
      <td>
        <form class="unapprove-payment-form" action="" method="post">
          {% csrf_token %}
          {% if form.errors %}
          <div class="form-messages">
            <p>{{form.errors}}</p>
          </div>
          {% endif %}
          {{form}}
          <input type="hidden" name="job_house" value="{{p.job.house}}">
          <input type="hidden" name="job_id" value="{{p.job.id}}">
          <input type="hidden" name="p_id" value="{{p.id}}">
          <input name="unapprove-payment" type="hidden">
          <a class="custom-btn unapprove-payment-btn" href="#">
            <p class="unapprove-payment-p">Unapprove</p>
          </a>
        </form>
      </td>
      {% endif %}
      <td>
        <form class="upload-document-form" action="/payment_history/p_history_job" method="post" role="form" enctype="multipart/form-data">
          {% csrf_token %}
          {% if upload_document_form.errors %}
          <div class="form-messages">
            <p>{{upload_document_form.errors}}</p>
          </div>
          {% endif %}
          {{upload_document_form}}
          <input name="job_id" value="{{p.job.id}}" type="hidden">
          <input name="thank_you" value="/payment_requests/thank_you" type="hidden">
          <input name="p_id" value="{{p.id}}" type="hidden">
          <input type="hidden" name="upload-document" value="upload-document">
          <a class="custom-btn upload-document-btn" href="#">
            <p class="upload-document-btn-p">Upload</p>
          </a>
        </form>
      </td>
    </tr>
      {% endif %}
    {% endfor %}
  </table>
</div> <!-- /.job-container -->
{% endfor %}
{% endblock content %}
</body>

</html>
