{% extends 'logged_in_customer.html' %}

{% load humanize %}
{% load static %}
{% load payment_requests_group_check %}

{% block title %}All Current Week Payments{% endblock title %}

{% block scripts %}
{% endblock scripts %}

{% block page_title %}Payments for This Week From {{start_week}} To {{today}}{% endblock page_title %}

{% block content %}
<div id="sep-container-1" class="sep-container">
  <div id="results_container">
    {% include 'payment_requests/payments_results.html' %}
  </div>
</div>

  {# Expenses Loop #}
  <div id="sep-container-2" class="sep-container">
    {% if expenses %}

    <h2 class="page-title">Expenses</h2>
    <hr>

    {% for house in expenses_houses %}
      <h3 id="{{ house.address }}" class="sub-title">{{ house.address }}</h3>

      {% if forloop.first %}
      <div class="item-headings-wrapper container-fluid">
        <ul class="item-headings row">
          <div class="col col-sm-6">
            <li>Status</li>
            <li class="second-heading">Type</li>
          </div>
          <div class="col col-sm-4">
            <li class="contract_link">Contract Link</li>
            <li>Date Added</li>
          </div>
          <div class="col col-sm-2">
            <li>Amount</li>
          </div>
        </ul>
      </div>
      {% endif %}

      {% for expense in expenses %}
        {% if expense.house == house %}
          {# Item Options Forms #}
          {% if current_user|in_group:'Customers' %}

            <div class="option-forms">
              {% include 'includes/forms/delete_expense.html' %}
            </div>

            <div class="popup-forms">
              <ul class="mobile-option-icons popup animated bounceInUp">
                {% include 'includes/option_items/mobile_options_expense.html' %}
              </ul>
            </div>

          {% endif %}

          <div class="item-container">
            <div class="container-fluid">
              <div class="row">
                <div class="info-group col col-sm-6">
                  <ul>
                    <li>
                      {# Status #}
                      <div class="status expense">Expense</div>
                    </li>
                    <span class="info-title">Expense Type</span>
                    <li class="info-1">{{ expense.expense_type }}</li>
                    <hr>
                  </ul>
                </div>
                <div class="info-group col col-sm-4">
                  <ul>
                    <span class="info-title">Contract</span>
                    <li class="info-2">
                      <a rel="noopener noreferrer" target="_blank" href="{{ expense.document_link.url }}">View Contract</a>
                    </li>
                    <hr>
                    <span class="info-title">Submitted</span>
                    <li class="info-3">
                      {{ expense.submit_date|date:'M j, g:i a' }}
                    </li>
                    <hr>
                  </ul>
                </div>
                <div class="info-group col col-sm-2">
                  {% if current_user|in_group:'Customers' %}
                  <ul>
                    <span class="info-title">Amount</span>
                    <li class="info-4">${{ expense.amount|intcomma }}</li>
                    <hr>

                    {# Mobile Option Buttons #}
                    <span class="info-title">Options</span>
                    <div class="item-options-toggle-mobile">
                      <button class="item-options-toggle-mobile-btn" type="button" name="item-options-toggle-mobile-btn">
                        <i class="fas fa-ellipsis-h"></i>
                      </button>
                    </div>

                    {# Desktop Options #}
                    <div class="item-options-dropdown dropdown">

                      <a class="item-options-toggle dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                      </a>

                      <div class="dropdown-menu">
                        <button type="submit" form="delete_exp_form_{{ expense.id }}" class="dropdown-item delete-exp-option">Delete</button>
                      </div>

                    </div>
                  </ul>
                  {% endif %}
                </div>
              </div>
            </div>
          </div> <!-- /.item-container -->
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% endif %}
  </div>
{% endblock content %}
