{% extends 'base_login_admin.html' %}

{% load humanize %}
{% load static %}
{% load payment_requests_group_check %}

{% block title %}All Unapproved Payments{% endblock title %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
<h2>Payment Requests From {{start_week}} To {{today}}</h2>
{% for house in houses %}
<div class="job-container">
  <div class="house">
    <h3 class="house-address">{{house.address}}</h3>
  </div>
  <div class="jobs">

  </div>
  <table class="job-summary">
    <tr class="job-headings">
      <th>Job ID</th>
      <th>Request Date</th>
      <th>Company</th>
      <th>Amount</th>
      <th>Contract Link</th>
      {% if current_user|in_group:'Customers' %}
      <th>Approve Payment</th>
      {% endif %}
    </tr>
    <tr class="spacer"></tr>
    {% for p in payments %}
      {% if p.job.house.address == house.address %}
    <tr class="job-info">
      <td>{{p.job.id}}</td>
      <td>{{p.submit_date}}</td>
      <td>{{p.job.company}}</td>
      <td>${{p.amount|intcomma}}</td>
      <td><a href="{{p.job.document_link.url}}">View Contract</a></td>
      {% if current_user|in_group:'Customers' %}
      <td>
        <form class="approve-payment-form" action="" method="post">
          {% csrf_token %}
          {% if form.errors %}
          <div class="form-messages">
            <p>Please try again.</p>
          </div>
          {% endif %}
          {{form}}
          <input type="hidden" name="job_house" value="{{p.job.house}}">
          <input type="hidden" name="p_id" value="{{p.id}}">
          <input type="hidden" name="job_id" value="{{p.job.id}}">
          <a class="custom-btn approve-btn" href="#">
            <p class="approve-p">Approve</p>
          </a>
        </form>
      </td>
      {% endif %}
    </tr>
      {% endif %}
    {% endfor %}
  </table>
</div> <!-- /.job-container -->
{% endfor %}
{% endblock content %}
</body>

</html>
