{% extends 'base_login.html' %}

{% load humanize %}

{% block title %}Jobs{% endblock title %}

{% block content %}
{% for house in houses %}
<div class="job-container">
  <div class="house">
    <h3 class="house-address">{{house.address}}</h3>
  </div>
  <div class="jobs">

  </div>
  <table class="job-summary">
    <tr class="job-headings">
      <th>Job ID</th>
      <th>Amount</th>
      <th>Balance</th>
      <th>Contract Link</th>
      <th>Request Payment</th>
    </tr>
    {% for job in jobs %}
      {% if job.house.address == house.address %}
    <tr class="job-info">
      <td>{{job.id}}</td>
      <td>${{job.start_amount|intcomma}}</td>
      <td>${{job.balance|intcomma}}</td>
      <td><a href="{{job.document_link}}">View Contract</a></td>
      <td><a href="#" class="btn btn-primary" id="request-payment">Request Payment</a></td>
    </tr>
      {% endif %}
    {% endfor %}
  </table>
</div> <!-- /.job-container -->
{% endfor %}
{% endblock content %}
</body>

</html>
