{% extends 'base_login.html' %}

{% load humanize %}
{% load static %}

{% block title %}Jobs{% endblock title %}

{% block scripts %}
<script type="text/javascript" src="{% static 'jobs/jobs.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
{% for current_worker in current_workers %}
<div class="job-container">
  <div class="house">
    <h3 class="house-address">{{current_worker.house.address}}</h3>
  </div>
  <div class="jobs">

  </div>
  <table class="job-summary">
    <tr class="job-headings">
      <th>Job ID</th>
      <th>Amount</th>
      <th>Balance</th>
      <th>Contract Link</th>
      <th>Request Payment</th>
    </tr>
    {% for job in jobs %}
      {% if job.house.address == current_worker.house.address %}
    <tr class="job-info">
      <td>{{job.id}}</td>
      <td>${{job.start_amount|intcomma}}</td>
      <td>${{job.balance|intcomma}}</td>
      <td><a href="{{job.document_link}}">View Contract</a></td>
      <td>
        <form class="request-payment-form" action="" method="post">
          {% csrf_token %}
          {% if form.errors %}
          <div class="form-messages">
            <p>Please try again.</p>
          </div>
          {% endif %}
          {{form}}
          <input type="hidden" name="job_id" value="{{job.id}}">
          <input class="btn btn-primary request-payment" type="submit" name="" value="Request Payment">
        </form>
      </td>
    </tr>
      {% endif %}
    {% endfor %}
  </table>
</div> <!-- /.job-container -->
{% endfor %}
{% endblock content %}
</body>

</html>
